{%- comment -%}
		Renders a products filter

		Accepts:
		- ssettings: {Object} Section settings object
		- results: {Object} Collection or Search object
		- paginate: {Object}

		Usage:
		{%- render 'filter', results: collection, ssettings: section.settings, paginate: paginate -%}
{%- endcomment -%}

{%- liquid
	assign layout               = ssettings.layout
	assign show_sorting         = ssettings.show_sorting
	assign products             = collection.products
	assign active_filters_count = 0
	assign show_filters         = true
	assign sort_by              = results.sort_by | default: results.default_sort_by

	##### Layout #####
	if layout == 'none'
		assign show_filters = false
	endif

	##### Filter count #####
	for filter in results.filters
		if filter.type == 'list'
			assign active_filters_count = active_filters_count | plus: filter.active_values.size
		elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value
			assign active_filters_count = active_filters_count | plus: 1
		endif
	endfor

	if results.url
		assign results_url   = results.url
		assign results_count = collection.products_count
	else
		assign terms         = results.terms | escape
		assign results_url   = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
		assign products      = search.results
		assign results_count = search.results_count
	endif

	##### Currencies #####
	assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,UYU,VES,VND' | split: ','
	assign uses_comma_decimals             = false
	assign price_decimals                  = ',00'

	if currencies_using_comma_decimals contains cart.currency.iso_code
		assign uses_comma_decimals = true
		assign price_decimals      = '.00'
	endif
-%}

{% comment %} Results product count {% endcomment %}
{%- capture results_product_count -%}
	{%- if ssettings.show_results_count -%}
		<span class="results-count">
			{%- liquid
				if results.url
					if paginate and paginate.items > paginate.page_size
						assign from_count = paginate.current_offset | plus: 1
						assign to_count   = paginate.page_size | times: paginate.current_page

						if paginate.items < to_count
							assign to_count = paginate.items
						endif

						echo 'sections.collection_template.collection_product_from_to_count_html' | t: from: from_count, to: to_count, count: paginate.items
					else
						echo 'sections.collection_template.collection_product_count_simple' | t: count: results_count
					endif
				else
					echo 'templates.search.results_with_count' | t: count: results_count
				endif
			-%}
		</span>
	{%- endif -%}
{%- endcapture -%}

{% comment %} Active filter {% endcomment %}
{%- capture active_filter -%}
	{%- if show_filters -%}
		<div class="active-filter">
			{%- if active_filters_count > 0 -%}
				{%- for filter in results.filters -%}
					{%- if filter.type == 'price_range' -%}
						{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
							<a class="active-filter-item" href="{{ filter.url_to_remove }}" aria-label="{{- 'general.text.link' | t -}}" data-reset="price">
								{%- liquid
									capture min_price
										if filter.min_value.value
											render 'get-price', price: filter.min_value.value
										else
											render 'get-price', price: 0
										endif
									endcapture

									capture max_price
										if filter.max_value.value
											render 'get-price', price: filter.max_value.value
										else
											render 'get-price', price: filter.range_max
										endif
									endcapture

									echo min_price | append: ' - ' | append: max_price | strip | remove: '.00'

									render 'icon', code: 'close'
								-%}
							</a>
						{%- endif -%}
					{%- else -%}
						{%- for filter_value in filter.active_values -%}
							<a class="active-filter-item" href="{{ filter.url_to_remove }}" aria-label="{{- 'general.text.link' | t -}}">
								{{- filter_value.label | escape -}}
								{%- render 'icon', code: 'close' -%}
							</a>
						{%- endfor -%}
					{%- endif -%}
				{%- endfor -%}

				<a class="active-filter-item link-underline" href="{{ results_url }}" aria-label="{{- 'general.text.link' | t -}}" data-reset="all">
					{{- 'sections.collection_template.clear_all' | t -}}
				</a>
			{%- endif -%}
		</div>
	{%- endif -%}
{%- endcapture -%}

{%- if show_filters -%}
	<div class="layer-first">
		{% comment %} Mobile filters {% endcomment %}
		<div class="mobile-filter">
			{% comment %} Filter modal {% endcomment %}
			<div class="mobile-filter-modal" data-unity-prevent>
				<form class="mobile-filter-form">
					<div class="form-header">
						<button class="close-button" type="button">{%- render 'icon', code: 'close' -%}</button>
						<button class="back-button">{%- render 'icon', code: 'arrow-left-short' -%}</button>
						<span class="heading">
							{%- liquid
								if show_filters and show_sorting
									echo 'sections.collection_template.filter_and_sort' | t
								elsif show_filters
									echo 'sections.collection_template.filter_only' | t
								elsif show_sorting
									echo 'sections.collection_template.sort_only' | t
								endif
							-%}
						</span>
					</div>

					<div class="form-content">
						<div class="form-content-inner">
							{%- if show_filters -%}
								{%- for filter in results.filters -%}
									{% case filter.type %}
										{% when 'list' %}
											<details class="filter-item">
												<summary class="filter-heading">
													<span class="heading-text"{% if filter.operator == 'AND' %} data-helptext="{{- 'sections.collection_template.filter_and_operator_subtitle' | t -}}"{% endif %}>{{- filter.label | escape -}}</span>
													{%- render 'icon', code: 'chevron-right' -%}
												</summary>

												<div class="filter-content">
													<ul class="item-list" role="list">
														{%- for filter_value in filter.values -%}
															{%- liquid
																assign list_item_id = 'mobile-' | append: filter_value.param_name | append: '-' | append: filter_value.value | handle | append: forloop.index0
																assign color        = ''
																assign contrast     = 4.5

																if filter_value.param_name contains 'option.color'
																	assign color    = filter_value.value | handle | remove: '-'
																	assign contrast = color | color_contrast: '#000000'
																endif

																### New color swatch
																if filter_value.swatch.image
																	assign m_image_url          = filter_value.swatch.image | image_url: width: 100
																	assign m_swatch_value       = 'url(' | append: m_image_url | append: ')'
																	assign m_swatch_focal_point = filter_value.swatch.image.presentation.focal_point
																elsif filter_value.swatch.color
																	assign m_swatch_value = 'rgb(' | append: filter_value.swatch.color.rgb | append: ')'
																	assign m_contrast     = m_swatch_value | color_contrast: '#000000'
																endif
															-%}

															{%- if m_swatch_value -%}
																<li{% if m_swatch_value != nil %} class="color-type swatch-{{ m_swatch_value }}"{% endif %}{% if filter_value.count == 0 %} disabled{% endif %}>
																	<input type="checkbox"
																		name="{{ filter_value.param_name }}"
																		value="{{ filter_value.value }}"
																		id="{{ list_item_id }}"
																		class="hidden-color-input"
																		{% if filter_value.active %}checked{% endif %}>

																	<span class="color-visual{% unless m_contrast %} invalid-color{% endunless %} {% if m_contrast > 4.5 %}light{% else %}dark{% endif %}" style="--swatch-background: {{ m_swatch_value }};{% if m_swatch_focal_point %} --swatch-focal-point: {{ m_swatch_focal_point }};{% endif %}"></span>

																	<label for="{{ list_item_id }}" class="filter-label">{{- filter_value.label | escape }}{% if show_count %}<span class="label-count">{{- filter_value.count -}}</span>{% endif %}</label>
																</li>
															{%- else -%}
																<li{% if color != blank %} class="color-type"{% endif %}{% if filter_value.count == 0 %} disabled{% endif %}>
																	<input type="checkbox"
																		name="{{ filter_value.param_name }}"
																		value="{{ filter_value.value }}"
																		id="{{ list_item_id }}"
																		{% if color != blank %}class="hidden-color-input"{% endif %}
																		{% if filter_value.active %}checked{% endif %}>

																	{%- if color != blank -%}
																		<span class="color-visual{% unless contrast %} invalid-color{% endunless %} {% if contrast > 4.5 %}light{% else %}dark{% endif %}">
																			<span{% if contrast %} style="background-color: {{ color }};"{% endif %}></span>
																		</span>
																	{%- endif -%}

																	<label for="{{ list_item_id }}" class="filter-label">{{- filter_value.label | escape }}{% if show_count %}<span class="label-count">{{- filter_value.count -}}</span>{% endif %}</label>
																</li>
															{%- endif -%}
														{%- endfor -%}
													</ul>
												</div>
											</details>
										{% when 'price_range' %}
											{% liquid
												assign price_item_id = 'mobile-' | append: filter.param_name | handle
											%}

											<details class="filter-item">
												<summary class="filter-heading">
													<span class="heading-text">{{- filter.label | escape -}}</span>
													{%- render 'icon', code: 'chevron-right' -%}
												</summary>

												<div class="filter-content">
													<div class="range-slider">
														{%- liquid
															if uses_comma_decimals
																assign min = filter.min_value.value | default: 0 | money_without_currency | replace: '.', '' | replace: ',', '.'
																assign max = filter.range_max | default: 100 | money_without_currency | replace: '.', '' | replace: ',', '.'

																assign max_value = max
																if filter.max_value.value
																	assign max_value = filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
																endif
															else
																assign min = filter.min_value.value | default: 0 | money_without_currency | replace: ',', ''
																assign max = filter.range_max | default: 100 | money_without_currency | replace: ',', ''

																assign max_value = max
																if filter.max_value.value
																	assign max_value = filter.max_value.value | money_without_currency | replace: ',', ''
																endif
															endif
														-%}

														<div class="price-slider">
															<template>
																{
																	"start": [{{ min | replace: price_decimals, '' }}, {{ max_value | replace: price_decimals, '' }}],
																	"connect": true,
																	"range": {
																		"min": 0,
																		"max": {{ max | replace: price_decimals, '' }}
																	}
																}
															</template>
														</div>

														<div class="price-input">
															<div class="price-from">
																<span class="price-currency">{{- cart.currency.symbol -}}</span>
																<label class="sr-only" for="filter-{{ price_item_id }}-gte">{{- 'sections.collection_template.from' | t -}}</label>
																<input class="price-value"
																	name="{{ filter.min_value.param_name }}"
																	{%- if filter.min_value.value -%}
																		value="{{ min }}"
																	{%- endif -%}
																	type="number"
																	placeholder="0"
																	min="0"
																	max="{{ max }}"
																	data-type="min">
															</div>

															<span class="separator">-</span>

															<div class="price-to">
																<span class="price-currency">{{- cart.currency.symbol -}}</span>
																<label class="sr-only" for="filter-{{ price_item_id }}-lte">{{- 'sections.collection_template.to' | t -}}</label>
																<input class="price-value"
																	name="{{ filter.max_value.param_name }}"
																	id="filter-{{ price_item_id }}-lte"
																	{%- if filter.max_value.value -%}
																		value="{{ max_value }}"
																	{%- endif -%}
																	type="number"
																	min="0"
																	placeholder="{{ max }}"
																	max="{{ max }}"
																	data-type="max">
															</div>
														</div>
													</div>
												</div>
											</details>
									{% endcase %}
								{%- endfor -%}
							{%- endif -%}

							{%- if show_sorting -%}
								<details class="filter-item">
									<summary class="filter-heading">
										<span class="heading-text">{{- 'sections.collection_template.sort_by_label' | t -}}</span>
										{%- render 'icon', code: 'chevron-right' -%}
									</summary>

									<div class="filter-content">
										{%- assign sort_by = results.sort_by | default: results.default_sort_by -%}

										<ul class="item-list">
											{%- for option in results.sort_options -%}
												<li class="radio-item">
													<input type="radio" id="mobile-sort-by-{{ option.name | handle }}" name="sort_by" value="{{ option.value | escape }}"{% if option.value == sort_by %} checked{% endif %}>
													<label for="mobile-sort-by-{{ option.name | handle }}">{{- option.name | escape -}}</label>
												</li>
											{%- endfor -%}
										</ul>
									</div>
								</details>
							{%- endif -%}
						</div>
					</div>

					{% comment %} Active filters {% endcomment %}
					<div class="mobile-active-filter">
						{%- if active_filters_count > 0 -%}
							<h3 class="heading sr-only">{{- 'sections.collection_template.filter_by' | t -}}</h3>

							{%- for filter in results.filters -%}
								{%- if filter.type == 'price_range' -%}
									{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
										<a class="active-filter-item" href="{{ filter.url_to_remove }}" aria-label="{{- 'general.text.link' | t -}}" data-reset="price">
											{%- liquid
												capture min_price
													if filter.min_value.value
														render 'get-price', price: filter.min_value.value
													else
														render 'get-price', price: 0
													endif
												endcapture

												capture max_price
													if filter.max_value.value
														render 'get-price', price: filter.max_value.value
													else
														render 'get-price', price: filter.range_max
													endif
												endcapture

												echo min_price | append: ' - ' | append: max_price | strip | remove: '.00'
											-%}

											{%- render 'icon', code: 'close' -%}
										</a>
									{%- endif -%}
								{%- else -%}
									{%- for filter_value in filter.active_values -%}
										<a href="{{ filter.url_to_remove }}" aria-label="{{- 'general.text.link' | t -}}" class="active-filter-item">
											{{- filter_value.label | escape -}}
											{%- render 'icon', code: 'close' -%}
										</a>
									{%- endfor -%}
								{%- endif -%}
							{%- endfor -%}

							<a class="active-filter-item link-underline" href="{{ results_url }}" aria-label="{{- 'general.text.link' | t -}}" data-reset="all">
								{{- 'sections.collection_template.clear_all' | t -}}
							</a>
						{%- endif -%}
					</div>

					<div class="form-footer">
						<a class="active-filter-item button form-footer-button secondary-button" href="{{ routes.all_products_collection_url }}" aria-label="{{- 'general.text.link' | t -}}">{{- 'sections.collection_template.clear' | t -}}</a>
						<button type="submit" class="button primary-button">{{- 'sections.collection_template.apply' | t -}}</button>
					</div>
				</form>
			</div>

			{% comment %} Results count {% endcomment %}
			{{- results_product_count -}}

			<div class="fixed-filter">
				{% comment %} Filter and sort {% endcomment %}
				<button class="filter-sort primary-button">
					{%- liquid
						render 'icon', code: 'filter'

						if show_filters and show_sorting
							echo 'sections.collection_template.filter_and_sort' | t
						elsif show_filters
							echo 'sections.collection_template.filter_only' | t
						elsif show_sorting
							echo 'sections.collection_template.sort_only' | t
						endif
					-%}
				</button>
			</div>
		</div>

		{% comment %} Active filter {% endcomment %}
		{{ active_filter }}

		{% comment %} Desktop filters {% endcomment %}
		<div class="filter-form-wrapper">
			<form class="filter-form">
				{% comment %} Filters {% endcomment %}
				{%- if show_filters -%}
					<div class="filter-wrapper">
						{%- for filter in results.filters -%}
							{%- liquid
								assign color_type = filter.values | where: 'param_name', 'filter.v.option.color' | first
							-%}

							{% case filter.type %}
								{% when 'boolean' or 'list' %}
									<details class="filter-item{% if color_type %} color-option{% endif %}" data-index="{{ forloop.index }}" open>
										<summary class="details-summary" aria-expanded="false">
											<span class="filter-title">{{- filter.label | escape -}}</span>

											<span class="details-icon">
												{%- liquid
													if layout != 'top'
														render 'icon', code: 'arrow-up'
													endif
												-%}
											</span>
										</summary>

										<div class="details-content">
											<ul class="item-list" role="list">
												{%- for filter_value in filter.values -%}
													{%- liquid
														assign list_item_id = filter_value.param_name | append: '-' | append: filter_value.value | handle | append: forloop.index0
														assign color        = ''
														assign contrast     = 4

														if filter_value.param_name contains 'option.color'
															assign color    = filter_value.value | handle | remove: '-'
															assign contrast = color | color_contrast: '#000000'
														endif

														### New color swatch
														if filter_value.swatch.image
															assign image_url          = filter_value.swatch.image | image_url: width: 100
															assign swatch_value       = 'url(' | append: image_url | append: ')'
															assign swatch_focal_point = filter_value.swatch.image.presentation.focal_point
														elsif filter_value.swatch.color
															assign swatch_value = 'rgb(' | append: filter_value.swatch.color.rgb | append: ')'
															assign contrast     = swatch_value | color_contrast: '#000000'
														endif
													-%}

													{%- comment -%} New color swatch {%- endcomment -%}
													{%- if swatch_value -%}
														<li{% if swatch_value != nil %} class="color-type swatch-{{ swatch_value }}"{% endif %}{% if filter_value.count == 0 %} disabled{% endif %}>
															<input type="checkbox"
																name="{{ filter_value.param_name }}"
																value="{{ filter_value.value }}"
																id="{{ list_item_id }}"
																class="hidden-color-input"
																{% if filter_value.active %}checked{% endif %}>

															<span class="color-visual{% unless contrast %} invalid-color{% endunless %} {% if contrast > 4.5 %}light{% else %}dark{% endif %}" style="--swatch-background: {{ swatch_value }};{% if swatch_focal_point %} --swatch-focal-point: {{ swatch_focal_point }};{% endif %}"></span>

															<label for="{{ list_item_id }}" class="filter-label">
																{{- filter_value.label }}{% if show_count %} ({{ filter_value.count -}}){% endif %}
															</label>
														</li>
													{%- else -%}
														{%- comment -%} Support old color {%- endcomment -%}
														<li{% if color != blank %} class="color-type"{% endif %}{% if filter_value.count == 0 %} disabled{% endif %}>
															{%- if color != blank -%}
																<input type="checkbox"
																	name="{{ filter_value.param_name }}"
																	value="{{ filter_value.value }}"
																	id="{{ list_item_id }}"
																	{% if color != blank %}class="hidden-color-input"{% endif %}
																	{% if filter_value.active %}checked{% endif %}>

																<span class="color-visual{% unless contrast %} invalid-color{% endunless %} {% if contrast > 4.5 %}light{% else %}dark{% endif %}"{% if contrast %} style="background-color: {{ color }};"{% endif %}></span>

																<label for="{{ list_item_id }}" class="filter-label">
																	{{- filter_value.label }}{% if show_count %} ({{ filter_value.count -}}){% endif %}
																</label>
															{%- else -%}
																<label for="{{ list_item_id }}" class="filter-label">
																	<input type="checkbox"
																		name="{{ filter_value.param_name }}"
																		value="{{ filter_value.value }}"
																		id="{{ list_item_id }}"
																		{% if color != blank %}class="hidden-color-input"{% endif %}
																		{% if filter_value.active %}checked{% endif %}>

																	{{- filter_value.label | escape }}{% if show_count %} ({{ filter_value.count -}}){% endif %}
																</label>
															{%- endif -%}
														</li>
													{%- endif -%}
												{%- endfor -%}
											</ul>
										</div>
									</details>
								{% when 'price_range' %}
									{% liquid
										assign price_item_id    = '' | append: filter.param_name | handle
									%}

									<details class="filter-item" data-index="{{ forloop.index }}" data-type="price_range" open>
										<summary class="details-summary" aria-expanded="false">
											<span class="filter-title">{{- filter.label | escape -}}</span>

											<span class="details-icon">
												{%- liquid
													if layout != 'top'
														render 'icon', code: 'arrow-up'
													endif
												-%}
											</span>
										</summary>

										<div class="details-content">
											<div class="range-slider">
												{%- liquid
													if uses_comma_decimals
														assign min = filter.min_value.value | default: 0 | money_without_currency | replace: '.', '' | replace: ',', '.'
														assign max = filter.range_max | default: 100 | money_without_currency | replace: '.', '' | replace: ',', '.'

														assign max_value = max
														if filter.max_value.value
															assign max_value = filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
														endif
													else
														assign min = filter.min_value.value | default: 0 | money_without_currency | replace: ',', ''
														assign max = filter.range_max | default: 100 | money_without_currency | replace: ',', ''

														assign max_value = max
														if filter.max_value.value
															assign max_value = filter.max_value.value | money_without_currency | replace: ',', ''
														endif
													endif
												-%}

												<div class="price-slider">
													<template>
														{
															"start": [{{ min | replace: price_decimals, '' }}, {{ max_value | replace: price_decimals, '' }}],
															"connect": true,
															"range": {
																"min": 0,
																"max": {{ max | replace: price_decimals, '' }}
															}
														}
													</template>
												</div>

												<div class="price-input">
													<div class="price-from">
														<span class="price-currency">{{- cart.currency.symbol -}}</span>
														<label class="sr-only" for="filter-{{ price_item_id }}-gte">{{- 'sections.collection_template.from' | t -}}</label>
														<input class="price-value"
															name="{{ filter.min_value.param_name }}"
															{%- if filter.min_value.value -%}
																value="{{ min }}"
															{%- endif -%}
															type="number"
															placeholder="0"
															min="0"
															max="{{ max }}"
															data-type="min">
													</div>

													<span class="separator">{{- 'sections.collection_template.to' | t -}}</span>

													<div class="price-to">
														<span class="price-currency">{{- cart.currency.symbol -}}</span>
														<label class="sr-only" for="filter-{{ price_item_id }}-lte">{{- 'sections.collection_template.to' | t -}}</label>
														<input class="price-value"
															name="{{ filter.max_value.param_name }}"
															id="filter-{{ price_item_id }}-lte"
															{%- if filter.max_value.value -%}
																value="{{ max_value }}"
															{%- endif -%}
															type="number"
															min="0"
															placeholder="{{ max }}"
															max="{{ max }}"
															data-type="max">
													</div>
												</div>
											</div>
										</div>
									</details>
							{% endcase %}
						{%- endfor -%}
					</div>
				{%- endif -%}

				{%- if layout != 'top' -%}
					<noscript>
						{{- filter_sorting -}}

						<button type="submit" class="primary-button button medium-button">{{- 'sections.collection_template.filter_button' | t -}}</button>
					</noscript>
				{%- endif -%}

				{% if collection.current_vendor or collection.current_type %}
					<input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
				{% endif %}
			</form>
		</div>
	</div>
{%- endif -%}

<div class="layer-last">
	{% comment %} Active filters, product count, filter sorting {% endcomment %}
	{%- if results_count > 0 -%}
		{% comment %} Products {% endcomment %}
		<div class="products">
			{%- for item in products -%}
				{%- assign image_ratio = ssettings.image_ratio | default: settings.card_image_ratio -%}

				{%- case item.object_type -%}
					{%- when 'product' -%}
						{%- render 'product-card', product: item, image_ratio: image_ratio -%}
					{%- when 'article' -%}
						<div class="article-card">
							<div class="card-media {{ image_ratio }}-media">
								<a href="{{ item.url }}" aria-label="{{- 'general.text.link' | t -}}" class="card-link"><span class="sr-only">{{- 'accessibility.search_item_heading' | t -}}</span></a>

								<div class="card-media-inner{% if settings.image_lazy and item.image != blank %} lazy-image{% endif %}">
									{%- liquid
										if item.image != blank
											render 'lazy-image', image: item.image, width: 680, class: 'media'
										else
											render 'icon', code: 'placeholder'
										endif
									-%}
								</div>

								<span class="badge">{{- 'blogs.article.blog' | t -}}</span>
							</div>

							<div class="card-content">
								<h2 class="post-title link-underline-transparent h5"><a href="{{ item.url }}" aria-label="{{- 'general.text.link' | t -}}">{{- item.title | escape -}}</a></h2>
								<span class="date">{{- item.published_at | time_tag: format: 'short_month_day_year' -}}</span>
							</div>
						</div>
					{%- when 'page' -%}
						<div class="article-card">
							<div class="card-media {{ image_ratio }}-media">
								<a href="{{ item.url }}" aria-label="{{ 'general.text.link' | t }}" class="card-link">
									<span class="sr-only">{{ 'accessibility.search_item_heading' | t }}</span>
								</a>

								<div class="card-media-inner">
									{%- render 'icon', code: 'placeholder' -%}
								</div>

								<span class="badge">{{ 'general.search.page' | t }}</span>
							</div>

							<div class="card-content">
								<h2 class="post-title link-underline-transparent h5">
									<a href="{{ item.url }}" aria-label="{{ 'general.text.link' | t }}">{{ item.title | escape }}</a>
								</h2>

								{%- if item.content != blank -%}
									<p class="excerpt">{{ item.content | strip_html | truncatewords: 25 }}</p>
								{%- endif -%}
							</div>
						</div>
				{%- endcase -%}
			{%- endfor -%}
		</div>
	{%- else -%}
		<div class="empty-filter-content">
			<h2 class="empty-title{% if animation %} scroll-trigger{% endif %}">
				{{- 'sections.collection_template.empty' | t -}}
			</h2>
		</div>
	{%- endif -%}

	{% comment %} Pagination {% endcomment %}
	{%- liquid
		capture pagination
			render 'pagination', paginate: paginate, alignment: 'center'
		endcapture

		if ssettings.infinite_scroll
			if paginate.next
				assign next_page = paginate.current_page | plus: 1

				echo '<div class="infinite-loading no-js-hidden"><span data-page="' | append: next_page | append: '"></span></div>'
			endif
		elsif paginate.pages > 1
			echo pagination
		endif
	-%}

	{%- if paginate.pages > 1 -%}
		<noscript>
			{{- pagination -}}
		</noscript>
	{%- endif -%}
</div>