<div id="lightbox" class="lightbox">
	<div class="lightbox-content">
		<span id="close" class="close">
			{%- render 'icon', code: 'close-thin' -%}
		</span>

		{% comment %} Slider product {% endcomment %}
		<unity-slider class="unity-slider">
			<template data-options>
				{
					"loop": false,
					"duration": 25,
					"_autoplay": {{ section.settings.delay | times: 1000 }},
					"_autoheight": true,
					"_fade": true,
					"_prevBtn": "{{ section_id }} .unity-button-prev",
					"_nextBtn": "{{ section_id }} .unity-button-next"
				}
			</template>

			<div class="unity-slider-viewport">
				<div class="unity-slider-container">
					{%- for media in product.media -%}
						<div class="main-item unity-slide" data-id="{{ section.id }}-{{ media.id }}" data-{{ media.media_type | escape }}>
							{%- render 'product-media', media: media, position: forloop.index, loop: section.settings.video_looping, role: 'main', index: forloop.index -%}
						</div>
					{%- endfor -%}
				</div>

				<div class="unity-arrows">
					<button class="unity-button unity-button-prev" title ="{{ 'general.unity.prev' | t }}-light" aria-label="{{ 'general.unity.prev' | t }}-light" id="{{ 'general.unity.prev' | t }}-light" aria-labelledby="{{ 'general.unity.prev' | t }}-light" disabled>
						{%- render 'icon', code: 'arrow-left' -%}
					</button>

					<button class="unity-button unity-button-next" title ="{{ 'general.unity.next' | t }}-light" aria-label="{{ 'general.unity.next' | t }}-light" id="{{ 'general.unity.next' | t }}-light" aria-labelledby="{{ 'general.unity.next' | t }}-light" disabled>
						{%- render 'icon', code: 'arrow-right' -%}
					</button>
				</div>
			</div>
		</unity-slider>
	</div>
</div>