<div class="side-cart" tabindex="-1">
  <div class="side-cart-inner">
    <div class="side-cart-header">
      <h2 class="side-cart-title h4">{{- 'cart.general.title' | t -}}</h2>

      <button type="button" class="side-cart-close close-button">
        <span class="sr-only">{{- 'cart.general.close_cart' | t -}}</span>

        {%- render 'icon', code: 'close' -%}
      </button>
    </div>

    <div class="side-cart-content">
      {%- if cart == empty -%}
        <div class="cart-empty">
          <h4 class="empty-title">{{- 'cart.general.empty' | t -}}</h4>

          {%- if settings.cart_empty_text != blank -%}
            <div class="empty-text">
              {{- settings.cart_empty_text -}}
            </div>
          {%- endif -%}

          <ul class="empty-collections">
            {%- if settings.cart_collection_list != blank -%}
              {%- for collection in settings.cart_collection_list -%}
                <li>
                  <a
                    class="button secondary-button"
                    href="{{ collection.url }}"
                    aria-label="{{- 'general.text.link' | t -}}"
                  >
                    <span>{{- collection.title -}}</span>
                  </a>
                </li>
              {%- endfor -%}
            {%- else -%}
              <li>
                <a
                  class="button primary-button"
                  href="{{ routes.all_products_collection_url }}"
                  aria-label="{{- 'general.text.link' | t -}}"
                >
                  <span>{{- 'general.text.continue_shopping' | t -}}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </div>
      {%- else -%}
        {% render 'cart-progress-bar' %}

        <div class="cart-items">
          {%- for item in cart.items -%}
            {%- liquid
              assign item_moq = item.product.metafields.custom.moq.value | default: 1
              assign item_moq_step = item.product.metafields.custom.moq_step.value
              if item_moq_step
                assign item_qty_step = item_moq
              else
                assign item_qty_step = 1
              endif
            -%}
            <div class="product-item" data-id="{{ item.id }}" data-line="{{ forloop.index }}">
              {%- if item.image -%}
                <a
                  href="{{ item.url | default: '#' }}"
                  aria-label="{{- 'general.text.link' | t -}}"
                  class="product-image{% unless item.image %} no-image{% endunless %}"
                  tabindex="-1"
                >
                  <img
                    src="{{ item.image | image_url: width: 110, height: 110, crop: 'center' }}"
                    alt="{{ item.image.alt | escape }}"
                    loading="lazy"
                    width="110"
                    height="110"
                  >
                </a>
              {%- endif -%}

              <div class="product-info">
                {% comment %} Title {% endcomment %}
                <h2 class="product-name">
                  <a href="{{ item.url | default: '#' }}" aria-label="{{- 'general.text.link' | t -}}" tabindex="-1">
                    {{- item.product.title | escape -}}
                  </a>
                </h2>

                {% comment %} Price {% endcomment %}
                <div class="product-price">
                  {%- if item.original_price > item.final_price -%}
                    <span class="price">
                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}: </span>

                      {%- if item.final_price == 0 -%}
                        <span class="price-free">{{- 'cart.general.free' | t -}}</span>
                      {%- else -%}
                        {%- render 'get-price', price: item.final_price -%}
                      {%- endif -%}
                    </span>

                    <s class="regular-price">
                      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}: </span>
                      {%- render 'get-price', price: item.original_price -%}
                    </s>
                  {%- elsif item.variant.compare_at_price > item.variant.price -%}
                    <span class="price">
                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}: </span>

                      {%- if item.final_price == 0 -%}
                        <span class="price-free">{{- 'cart.general.free' | t -}}</span>
                      {%- else -%}
                        {%- render 'get-price', price: item.final_price -%}
                      {%- endif -%}
                    </span>

                    <s class="regular-price">
                      {%- render 'get-price', price: item.variant.compare_at_price -%}
                    </s>
                  {%- else -%}
                    {%- if item.final_price == 0 -%}
                      <span class="price-free">{{- 'cart.general.free' | t -}}</span>
                    {%- else -%}
                      {%- render 'get-price', price: item.final_price -%}
                    {%- endif -%}
                  {%- endif -%}

                  {% if item.unit_price_measurement %}
                    <span class="unit-price">
                      {%- render 'get-price', price: item.unit_price %}
                      /
                      {% if item.unit_price_measurement.reference_value != 1 -%}
                        {{- item.unit_price_measurement.reference_value -}}
                      {%- endif -%}
                      {{- item.unit_price_measurement.reference_unit -}}
                    </span>
                  {% endif %}
                </div>

                {% comment %} Variant title {% endcomment %}
                <div class="product-options">
                  {%- unless item.product.has_only_default_variant -%}
                    {%- for option in item.options_with_values -%}
                      <span class="product-option">
                        {{- option.name }}: <span class="link">{{ option.value }}</span></span
                      >
                    {%- endfor -%}
                  {%- endunless -%}

                  {%- for property in item.properties -%}
                    {%- assign property_first_char = property.first | slice: 0 -%}

                    {%- if property.last != blank and property_first_char != '_' -%}
                      <span class="product-option">
                        {{ property.first }}:

                        {% if property.last contains '/uploads/' -%}
                          <a
                            href="{{ property.last }}"
                            aria-label="{{- 'general.text.link' | t -}}"
                            class="link"
                            target="_blank"
                          >
                            {{ property.last | split: '/' | last }}
                          </a>
                        {%- else -%}
                          <span class="link">{{ property.last }}</span>
                        {%- endif -%}
                      </span>
                    {%- endif -%}
                  {%- endfor -%}
                </div>

                {% comment %} Selling plan {% endcomment %}
                {%- if item.selling_plan_allocation != null -%}
                  <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                {%- endif -%}

                {%- comment -%} Discount {%- endcomment -%}
                {%- if item.discounts.first -%}
                  <ul class="discounts" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in item.discounts -%}
                      <li class="discounts-discount">
                        {%- render 'icon', code: 'discount' -%}
                        {{- discount.title -}}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

                <div class="product-warning error-message message"></div>

                <div class="bottom-line">
                  {% comment %} Quantity {% endcomment %}
                  <div class="quantity">
                    <button class="quantity-button" name="minus" type="button">
                      <span class="sr-only">
                        {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                      </span>
                      {% render 'icon', code: 'minus' %}
                    </button>

                    <input
                      class="quantity-input"
                      type="number"
                      name="quantity"
                      id="cart-qty-{{ item.id }}"
                      min="{{ item_moq }}"
                      {% if item.variant.quantity_rule.max != null %}
                        max="{{ item.variant.quantity_rule.max }}"
                      {% endif %}
                      step="{{ item_qty_step }}"
                      value="{{ item.quantity }}"
                      data-moq="{{ item_moq }}"
                      data-step="{{ item_qty_step }}"
                      data-noui
                      readonly
                    >

                    <button class="quantity-button" name="plus" type="button">
                      <span class="sr-only">
                        {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                      </span>
                      {% render 'icon', code: 'plus' %}
                    </button>
                  </div>

                  {% comment %} Remove {% endcomment %}
                  <a
                    href="{{ item.url_to_remove }}"
                    class="product-remove"
                    aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                  >
                    <span class="remove link-underline">{{- 'products.product.remove' | t -}}</span>
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>

        {%- if settings.show_cart_recommendations and cart.item_count > 0 -%}
          <div class="minicart-recommendations-wrapper">
            <div
              class="minicart-recommendations"
              {% if settings.card_product_recommendations == blank %}
                data-url="/recommendations/products?section_id=side-cart&product_id={{ cart.items[0].product_id }}&limit=10&intent=complementary"
                data-source
              {% endif %}
            >
              {%- if settings.card_product_recommendations != blank
                or recommendations.performed
                and recommendations.products_count > 0
              -%}
                <div class="heading-wrap">
                  {%- if settings.cart_recommendations_heading != blank -%}
                    <h6 class="heading minicart-recommendations-title">
                      {{- settings.cart_recommendations_heading | escape -}}
                    </h6>
                  {%- endif -%}

                  <div class="unity-arrows">
                    <button
                      class="unity-button unity-button-prev"
                      title="{{ 'general.unity.prev' | t }}-side"
                      aria-label="{{ 'general.unity.prev' | t }}-side"
                      id="{{ 'general.unity.prev' | t }}-side"
                      aria-labelledby="{{ 'general.unity.prev' | t }}-side"
                      disabled
                    >
                      {%- render 'icon', code: 'chevron-left' -%}
                    </button>

                    <button
                      class="unity-button unity-button-next"
                      title="{{ 'general.unity.next' | t }}-side"
                      aria-label="{{ 'general.unity.next' | t }}-side"
                      id="{{ 'general.unity.next' | t }}-side"
                      aria-labelledby="{{ 'general.unity.next' | t }}-side"
                      disabled
                    >
                      {%- render 'icon', code: 'chevron-right' -%}
                    </button>
                  </div>
                </div>

                <unity-slider class="unity-slider">
                  <template data-options>
                    { "align": "start", "_autoheight": true, "_fade": false, "_prevBtn": ".side-cart
                    .unity-button-prev", "_nextBtn": ".side-cart .unity-button-next" }
                  </template>

                  <div class="unity-slider-viewport">
                    <div class="unity-slider-container">
                      {%- if settings.card_product_recommendations != blank -%}
                        {%- for product in settings.card_product_recommendations
                          limit: settings.cart_recommendations_limit
                        -%}
                          {%- liquid
                            assign preferred_type = customer.metafields.custom.type_of_peptides.value | default: customer.metafields.custom.type_of_peptides
                            assign target_tag = ""
                            if preferred_type contains "Both" or (preferred_type contains "America-made Peptides" and preferred_type contains "International Peptides")
                              assign target_tag = ""
                            elsif preferred_type contains "America-made Peptides"
                              assign target_tag = "America-made-peptides"
                            elsif preferred_type contains "International Peptides"
                              assign target_tag = "international-peptides"
                            endif
                            
                            assign show_this_product = true
                            if customer.tags contains 'approved' and target_tag != blank
                              unless product.tags contains target_tag
                                assign show_this_product = false
                              endunless
                            endif
                          -%}
                          {%- if show_this_product -%}
                          <div class="unity-slide">
                            <div class="product-card">
                              {%- liquid
                                assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_media
                              -%}

                              {% comment %} Media {% endcomment %}
                              {%- if featured_image != blank -%}
                                <div class="product-media-wrap">
                                  <a
                                    href="{{ product.url | split: '?' | first }}"
                                    {% if settings.image_lazy %}
                                      class="product-image lazy-image border-large"
                                    {% endif %}
                                    arial-label="{{ product.title }}"
                                  >
                                    {%- liquid
                                      assign image_key = featured_image.src | handle

                                      render 'lazy-image', image: featured_image, width: 200, height: 200, class: 'product-first-image', data-key: image_key
                                    -%}
                                  </a>
                                </div>
                              {%- endif -%}

                              <div class="product-card-content-wrapper">
                                <div class="product-card-content">
                                  {% comment %} Vendor {% endcomment %}
                                  {%- if settings.card_show_vendor -%}
                                    <div class="product-vendor sub-heading">
                                      <span class="sr-only">{{- 'accessibility.vendor' | t -}}</span>
                                      {{ product.vendor | link_to_vendor: class: 'product-vendor-link' }}
                                    </div>
                                  {%- endif -%}

                                  {% comment %} Heading {% endcomment %}
                                  <h2 class="product-title link-underline-transparent">
                                    <a
                                      href="{{ product.url | split: '?' | first }}"
                                      aria-label="{{- 'general.text.link' | t -}}"
                                    >
                                      {{- product.title | escape -}}
                                    </a>
                                  </h2>

                                  {%- render 'price', product: product -%}
                                </div>
                              </div>

                              {%- form 'product',
                                product,
                                class: 'form-add-to-cart',
                                novalidate: 'novalidate',
                                data-type: 'add-to-cart-form',
                                id: null
                              -%}
                                <input
                                  type="hidden"
                                  name="id"
                                  value="{{ product.selected_or_first_available_variant.id }}"
                                >

                                {%- if product.available -%}
                                  <button
                                    type="submit"
                                    name="add"
                                    class="button primary-button add-to-cart-button"
                                    title="{{ 'general.unity.prev' | t }}-s"
                                    aria-label="{{ 'general.unity.prev' | t }}sd"
                                    id="{{ 'general.unity.prev' | t }}{{ forloop.index }}"
                                    aria-labelledby="{{ 'general.unity.prev' | t }}sdce"
                                  >
                                    {{- 'sections.testimonial.add' | t -}}
                                  </button>
                                {%- else -%}
                                  <button
                                    type="submit"
                                    name="add"
                                    class="button primary-button add-to-cart-button"
                                    title="{{ 'general.unity.prev' | t }}-add"
                                    aria-label="{{ 'general.unity.prev' | t }}-add"
                                    id="{{ 'general.unity.prev' | t }}-add"
                                    aria-labelledby="{{ 'general.unity.prev' | t }}-add"
                                    disabled
                                  >
                                    {{- 'products.product.sold_out' | t -}}
                                  </button>
                                {%- endif -%}

                                {% comment %} Product variant data {% endcomment %}
                                <script data-product-variants>
                                  {
                                    {
                                      product.variants | json;
                                    }
                                  }
                                </script>
                              {%- endform -%}
                            </div>
                          </div>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- else -%}
                        {%- for product in recommendations.products limit: settings.cart_recommendations_limit -%}
                          {%- liquid
                            assign preferred_type = customer.metafields.custom.type_of_peptides.value | default: customer.metafields.custom.type_of_peptides
                            assign target_tag = ""
                            if preferred_type contains "Both" or (preferred_type contains "America-made Peptides" and preferred_type contains "International Peptides")
                              assign target_tag = ""
                            elsif preferred_type contains "America-made Peptides"
                              assign target_tag = "America-made-peptides"
                            elsif preferred_type contains "International Peptides"
                              assign target_tag = "international-peptides"
                            endif
                            
                            assign show_this_product = true
                            if customer.tags contains 'approved' and target_tag != blank
                              unless product.tags contains target_tag
                                assign show_this_product = false
                              endunless
                            endif
                          -%}
                          {%- if show_this_product -%}
                          <div class="unity-slide">
                            <div class="product-card">
                              {%- liquid
                                assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_media
                              -%}

                              {% comment %} Media {% endcomment %}
                              {%- if featured_image != blank -%}
                                <div class="product-media-wrap">
                                  <a
                                    href="{{ product.url | split: '?' | first }}"
                                    {% if settings.image_lazy %}
                                      class="product-image lazy-image border-large"
                                    {% endif %}
                                    arial-label="{{ product.title }}"
                                  >
                                    {%- liquid
                                      assign image_key = featured_image.src | handle

                                      render 'lazy-image', image: featured_image, width: 200, height: 200, class: 'product-first-image', data-key: image_key
                                    -%}
                                  </a>
                                </div>
                              {%- endif -%}

                              <div class="product-card-content-wrapper">
                                <div class="product-card-content">
                                  {% comment %} Vendor {% endcomment %}
                                  {%- if settings.card_show_vendor -%}
                                    <div class="product-vendor sub-heading">
                                      <span class="sr-only">{{- 'accessibility.vendor' | t -}}</span>
                                      {{ product.vendor | link_to_vendor: class: 'product-vendor-link' }}
                                    </div>
                                  {%- endif -%}

                                  {% comment %} Heading {% endcomment %}
                                  <h2 class="product-title link-underline-transparent">
                                    <a
                                      href="{{ product.url | split: '?' | first }}"
                                      aria-label="{{- 'general.text.link' | t -}}"
                                    >
                                      {{- product.title | escape -}}
                                    </a>
                                  </h2>

                                  {%- render 'price', product: product -%}
                                </div>
                              </div>

                              {%- form 'product',
                                product,
                                class: 'form-add-to-cart',
                                novalidate: 'novalidate',
                                data-type: 'add-to-cart-form',
                                id: null
                              -%}
                                <input
                                  type="hidden"
                                  name="id"
                                  value="{{ product.selected_or_first_available_variant.id }}"
                                >

                                {%- if product.available -%}
                                  <button
                                    type="submit"
                                    name="add"
                                    class="button primary-button add-to-cart-button"
                                    title="{{ 'general.unity.prev' | t }}"
                                    aria-label="{{ 'general.unity.prev' | t }}"
                                    id="{{ 'general.unity.prev' | t }}"
                                    aria-labelledby="{{ 'general.unity.prev' | t }}"
                                  >
                                    {{- 'sections.testimonial.add' | t -}}
                                  </button>
                                {%- else -%}
                                  <button
                                    type="submit"
                                    name="add"
                                    class="button primary-button add-to-cart-button"
                                    title="{{ 'general.unity.prev' | t }}"
                                    aria-label="{{ 'general.unity.prev' | t }}"
                                    id="{{ 'general.unity.prev' | t }}"
                                    aria-labelledby="{{ 'general.unity.prev' | t }}"
                                    disabled
                                  >
                                    {{- 'products.product.sold_out' | t -}}
                                  </button>
                                {%- endif -%}

                                {% comment %} Product variant data {% endcomment %}
                                <script data-product-variants>
                                  {
                                    {
                                      product.variants | json;
                                    }
                                  }
                                </script>
                              {%- endform -%}
                            </div>
                          </div>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  </div>
                </unity-slider>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>

    {%- if cart != empty -%}
      <div class="side-cart-footer">
        {%- if settings.cart_note -%}
          <div class="side-cart-footer-top">
            <cart-item-tool class="mini-cart-header previewCartTool">
              {%- if settings.cart_note -%}
                <button class="mini-cart-button cartTool-item cart-tool-note" data-popup="popup-tool-note">
                  {%- render 'icon', code: 'note' -%}
                  <span class="mini-cart-text">{{ 'general.cart.note.label' | t }}</span>
                </button>
              {%- endif -%}
            </cart-item-tool>

            <div class="popup-toolDowns">
              <div class="mini-cart-overlay"></div>
              <div class="popup-toolDown mini-cart-body" id="popup-tool-note">
                <div class="mini-cart-content">
                  <cart-note class="cart__note">
                    <div class="field">
                      <textarea
                        class="text-area form-input"
                        name="note"
                        id="cart-note"
                        placeholder="{{ 'general.cart.note.content' | t }}"
                      >
												{{- cart.note -}}
											</textarea>

                      <label for="cart-note">
                        {{- 'general.cart.note.content' | t -}}
                      </label>
                    </div>

                    <button
                      type="button"
                      title="Save"
                      class="button primary-button apply-button note-button"
                      data-update-note=""
                    >
                      {{ 'general.cart.apply' | t }}
                    </button>
                  </cart-note>
                </div>

                <cart-cancel-popup>
                  <button class="button link-underline mini-cart-close" data-action="note">
                    {{ 'general.cart.cancel' | t }}
                  </button>
                </cart-cancel-popup>
              </div>
            </div>
          </div>
        {%- endif -%}

        <div class="side-cart-footer-bottom">
          <div class="subtotal-wrap">
            <div class="sub-total">
              <p class="total-label">{{- 'cart.general.subtotal' | t }}:</p>
              <span class="total-price h4">{%- render 'get-price', price: cart.total_price -%}</span>
              {% comment %} Discount {% endcomment %}
              {%- render 'total-discount', items: cart.items, cart: cart -%}
            </div>

            {% comment %} Taxe note {% endcomment %}
            <p class="tax-note">
              {%- liquid
                if cart.taxes_included and shop.shipping_policy.body != blank
                  echo 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url
                elsif cart.taxes_included
                  echo 'sections.cart.taxes_included_but_shipping_at_checkout' | t
                elsif shop.shipping_policy.body != blank
                  echo 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url
                else
                  echo 'sections.cart.taxes_and_shipping_at_checkout' | t
                endif
              -%}
            </p>
          </div>

          <div class="button-wrapper">
            <a
              href="{{ routes.cart_url }}"
              aria-label="{{- 'general.text.link' | t -}}"
              class="button secondary-button go-to-cart"
              style="display: none;"
            >
              {{- 'cart.general.cart' | t -}}
            </a>

            <form action="{{ routes.cart_url }}" method="post" class="go-to-checkout">
              <button class="button primary-button" name="checkout">{{- 'sections.cart.checkout' | t -}}</button>
            </form>
          </div>
        </div>
      </div>
    {%- endif -%}

    <div class="mini-cart-overlay"></div>
  </div>
</div>

<script src="{{ 'sidecart-tool.js' | asset_url }}" defer="defer"></script>
