{%- liquid
	assign section_id         = '#shopify-section-' | append: section.id
	assign animation          = settings.section_animation
	assign full               = section.settings.full
	assign blog               = section.settings.blog
	assign caption            = section.settings.caption
	assign heading            = section.settings.heading_text
	assign heading_size       = section.settings.heading_size
	assign total              = section.settings.total
	assign column             = section.settings.column
	assign alignment          = section.settings.align
-%}

<style>
	{{ section_id }} .section-wrapper {
		padding-top: {{ section.settings.padding_top_mobile }}px;
		padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}

		{{ section_id }} .unity-slider {
			--slide-size: calc(100% / {{ column }});
		}
	}

	{{ section_id }} {
		--heading-line: {{ section.settings.heading_line }};
	}

	@media (max-width: 991px) {
		{% if section.settings.columns_mobile == '2' %}
			{{ section_id }} .unity-slider {
				--slide-size: calc(93% / 2);
			}
		{% endif %}

		{{ section_id }} .article-info-wrapper {
			padding: {{ section.settings.card_space }}px;
			padding-top: 2.4rem;
		}
	}
</style>

<div class="section-wrapper color-{{ section.settings.color_scheme }}">
	<div class="{% if full %}stretch-section stretch-padding{% else %}container{% endif %}">
		{%- if caption != blank or heading != blank -%}
			<div class="blog-posts-top text-{{ alignment }}">
				{%- if caption != blank -%}
					<div class="caption sub-heading rte">{{- caption -}}</div>
				{%- endif -%}

				{%- if heading != blank -%}
					<h2 class="heading {{ heading_size }} rte">{{- heading -}}</h2>
				{%- endif -%}
			</div>
		{%- endif -%}

		<div class="blog-posts-content{% if animation %} scroll-trigger{% endif %}">
			<unity-slider class="unity-slider">
				<template data-options>
					{
						"align": "start",
						"_autoheight": true,
						"_fade": false,
						"_prevBtn": "{{ section_id }} .unity-button-prev",
						"_nextBtn": "{{ section_id }} .unity-button-next"
					}
				</template>

				<div class="unity-slider-viewport">
					<div class="unity-slider-container">
						{%- for article in blog.articles limit: total -%}
							<div class="unity-slide {{ section.settings.card_layout }}-item" data-{{ forloop.index0 }} {% if request.design_mode %} data-index="{{ forloop.index0 }}"{% endif %}>
								<div class="border-large color-{{ section.settings.post_color_scheme }}">
									<article class="article-card{% if animation %} scroll-trigger{% endif %}">
										<div class="article-media-wrap">
											<div class="article-image border-large {{ section.settings.image_ratio }}-media{% unless article.image %} no-media{% endunless %}">
												{%- if article.image -%}
													<a href="{{ article.url }}" aria-label="{{- 'general.text.link' | t -}}" class="card-image image-overlay border-large{% if settings.image_lazy and article.image %} lazy-image{% endif %}">
														{%- liquid
															if article.image
																render 'lazy-image', image: article.image, width: 740
															endif
														-%}
													</a>
												{%- endif -%}
											</div>

											{%- if section.settings.card_layout == 'standard' and section.settings.show_blog -%}
												<a href="{{ blog.url }}" aria-label="{{- 'general.text.link' | t -}}" class="article-blog-link text-uppercase border-small">
													{{- blog.title | escape -}}
												</a>
											{%- endif -%}
										</div>

										<div class="article-info-wrapper">
											<div class="article-info">
												{%- if section.settings.show_date or section.settings.show_comment and blog.comments_enabled? or section.settings.show_author -%}
													<div class="article-meta text-uppercase">
														{% comment %} Date {% endcomment %}
														{%- if section.settings.show_date -%}
															<span class="article-date mitem">
																{{- article.published_at | time_tag: format: 'short_month_day_year' -}}
															</span>

															<span class="separator">/</span>
														{%- endif -%}

														{% comment %} Comment {% endcomment %}
														{%- if section.settings.show_comment and blog.comments_enabled? -%}
															<a class="article-comment mitem link-underline-transparent" href="{{ article.comment_post_url }}" aria-label="{{- 'general.text.link' | t -}}">{{ 'blogs.article.comments' | t: count: article.comments_count }}</a>

															<span class="separator">/</span>
														{%- endif -%}


														{% comment %} Author {% endcomment %}
														{%- if section.settings.show_author -%}
															<div class="article-author mitem">
																{{ article.author }}
															</div>
														{%- endif -%}
													</div>
												{%- endif -%}

												{% comment %} Title {% endcomment %}
												<h2 class="article-title h4">
													<a href="{{ article.url }}" aria-label="{{- 'general.text.link' | t -}}" class="link-underline-transparent">
														{{- article.title | escape  -}}
													</a>
												</h2>

												{% comment %} Excerpt/Content  {% endcomment %}
												{%- if section.settings.show_excerpt and article.excerpt_or_content.size > 0 -%}
													<p class="article-excerpt">
														{%- liquid
															if article.excerpt_or_content.size > 0
																echo article.excerpt_or_content | strip_html | truncatewords: 20
															endif
														-%}
													</p>
												{%- endif -%}
											</div>

											{% if section.settings.card_layout == 'overlay' %}
												{%- if section.settings.show_blog or section.settings.show_read_more -%}
													<div class="article-info-bottom{% unless section.settings.show_blog %} no-blog{% endunless %}">
														{% comment %} Blog {% endcomment %}
														{%- if section.settings.show_blog -%}
															<a href="{{ blog.url }}" aria-label="{{- 'general.text.link' | t -}}" class="article-blog-link text-uppercase border-small">
																{{- blog.title | escape -}}
															</a>
														{%- endif -%}

														{% comment %} Read more {% endcomment %}
														{%- if section.settings.show_read_more -%}
															<a class="button readmore-btn" href="{{ article.url }}" aria-label="{{- 'general.text.link' | t -}}">
																{%- render 'icon', code: 'arrow-circle-up-right' -%}
																{%- render 'icon', code: 'arrow-circle-up-right' -%}
															</a>
														{%- endif -%}
													</div>
												{%- endif -%}
											{% else %}
												{% comment %} Read more {% endcomment %}
												{%- if section.settings.show_read_more -%}
													<a class="readmore-btn text-uppercase link-underline-transparent" href="{{ article.url }}" aria-label="{{- 'general.text.link' | t -}}">
														{{- 'blogs.article.read_more' | t -}}
													</a>
												{%- endif -%}
											{% endif %}
										</div>
									</article>
								</div>
							</div>
						{%- else -%}
							{%- for i in (1..total) -%}
								<div class="unity-slide {{ section.settings.card_layout }}-item" data-{{ forloop.index0 }}>
									<article class="article-card border-large color-{{ section.settings.post_color_scheme }}">
										<div class="article-media-wrap">
											<div class="article-image adapt-media">
												{%- render 'icon', code: 'placeholder' -%}
											</div>

											{%- if section.settings.card_layout == 'standard' -%}
												<span class="article-blog-link text-uppercase border-small mitem">{{- 'onboarding.blogs.cate' | t -}}</span>
											{%- endif -%}
										</div>

										<div class="article-info-wrapper">
											<div class="article-info">
												<div class="article-meta text-uppercase">
													<span class="mitem">{{- 'onboarding.blogs.date' | t | time_tag: format: 'short_month_day_year' -}}</span>
													<span class="separator">/</span>
													<span class="mitem">{{- 'blogs.article.comments' | t: count: 0 -}}</span>
												</div>

												<h4 class="article-title">
													{{- 'onboarding.blogs.title' | t -}}
												</h4>
											</div>

											<div class="article-info-bottom">
												{%- if section.settings.card_layout == 'overlay' -%}
													<span class="article-blog-link text-uppercase border-small mitem">{{- 'onboarding.blogs.cate' | t -}}</span>

													<span class="readmore-btn button">
														<span class="button-icon-wrapper">
															{%- render 'icon', code: 'arrow-circle-up-right' -%}
															{%- render 'icon', code: 'arrow-circle-up-right' -%}
														</span>
													</span>
												{%- else -%}
													<span class="readmore-text">{{- 'blogs.article.read_more' | t -}}</span>
												{%- endif -%}
											</div>
										</div>
									</article>
								</div>
							{%- endfor -%}
						{%- endfor -%}
					</div>
				</div>
			</unity-slider>

			{%- if section.settings.button_text != blank -%}
				<a class="button primary-button view-all-btn" href="{{ section.settings.blog.url | default: '#' }}" aria-label="{{- 'general.text.link' | t -}}">
					{{- section.settings.button_text -}}
				</a>
			{%- endif -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.blog-posts.name",
	"tag": "section",
	"class": "blog-posts-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"default": false,
			"label": "t:general.layout.full.label"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "blog",
			"id": "blog",
			"label": "t:sections.blog-posts.settings.blog.label"
		},

		{
			"type": "range",
			"id": "column",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "t:sections.blog-posts.settings.columns.label"
		},
		{
			"type": "range",
			"id": "total",
			"min": 2,
			"max": 20,
			"step": 1,
			"default": 5,
			"label": "t:sections.blog-posts.settings.columns_total.label"
		},
		{
			"type": "header",
			"content": "t:general.typography.text.label"
		},
		{
			"type": "select",
			"id": "align",
			"options": [
				{
					"value": "left",
					"label": "t:general.layout.alignment.option_1.label"
				},
				{
					"value": "center",
					"label": "t:general.layout.alignment.option_2.label"
				},
				{
					"value": "right",
					"label": "t:general.layout.alignment.option_3.label"
				}
			],
			"default": "center",
			"label": "t:general.layout.alignment.label"
		},
		{
			"type": "text",
			"id": "caption",
			"default": "Caption",
			"label": "t:general.typography.caption.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading_text",
			"default": "Heading",
			"label": "t:general.typography.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h5",
					"label": "t:general.typography.heading_size.option_1.label"
				},
				{
					"value": "h4",
					"label": "t:general.typography.heading_size.option_2.label"
				},
				{
					"value": "h3",
					"label": "t:general.typography.heading_size.option_3.label"
				}
			],
			"default": "h4",
			"label": "t:general.typography.heading_size.label"
		},
		{
			"type": "text",
			"id": "button_text",
			"default": "ALL POSTS",
			"label": "t:general.typography.button_text.label"
		},
		{
			"type": "header",
			"content": "t:sections.blog-posts.settings.card.content"
		},
		{
			"type": "color_scheme",
			"id": "post_color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "select",
			"id": "card_layout",
			"options": [
				{
					"value": "standard",
					"label": "t:sections.main-blog.settings.card_layout.option_1.label"
				},
				{
					"value": "overlay",
					"label": "t:sections.main-blog.settings.card_layout.option_2.label"
				}
			],
			"default": "overlay",
			"label":  "t:general.layout.name"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "adapt",
					"label": "t:general.image.ratio.option_1.label"
				},
				{
					"value": "portrait",
					"label": "t:general.image.ratio.option_2.label"
				},
				{
					"value": "square",
					"label": "t:general.image.ratio.option_3.label"
				}
			],
			"default": "square",
			"label": "t:general.image.ratio.label"
		},
		{
			"type": "select",
			"id": "heading_line",
			"options": [
				{
					"value": "1",
					"label": "t:sections.collage-blog-posts.settings.heading_line.option_1.label"
				},
				{
					"value": "2",
					"label": "t:sections.collage-blog-posts.settings.heading_line.option_2.label"
				},
				{
					"value": "3",
					"label": "t:sections.collage-blog-posts.settings.heading_line.option_3.label"
				}
			],
			"default": "2",
			"label": "t:sections.collage-blog-posts.settings.heading_line.label"
		},
		{
			"type": "checkbox",
			"id": "show_date",
			"default": true,
			"label": "t:sections.blog-posts.settings.show_date.label"
		},
		{
			"type": "checkbox",
			"id": "show_comment",
			"default": true,
			"label": "t:sections.blog-posts.settings.show_comment.label"
		},
		{
			"type": "checkbox",
			"id": "show_author",
			"default": false,
			"label": "t:sections.blog-posts.settings.show_author.label"
		},
		{
			"type": "checkbox",
			"id": "show_blog",
			"default": true,
			"label": "t:sections.blog-posts.settings.show_blog.label"
		},
		{
			"type": "checkbox",
			"id": "show_read_more",
			"default": true,
			"label": "t:sections.blog-posts.settings.show_read_more.label"
		},
		{
			"type": "header",
			"content": "t:sections.multicolumn.settings.mobile_layout.content"
		},
		{
			"type": "select",
			"id": "columns_mobile",
			"options": [
				{
					"value": "1",
					"label": "t:sections.multicolumn.settings.columns_mobile.options_1.label"
				},
				{
					"value": "2",
					"label": "t:sections.multicolumn.settings.columns_mobile.options_2.label"
				}
			],
			"default": "1",
			"label": "t:sections.multicolumn.settings.columns_mobile.label"
		},
		{
			"type": "range",
			"id": "card_space",
			"min": 0,
			"max": 24,
			"step": 1,
			"default": 15,
			"unit": "px",
			"label": "t:sections.blog-posts.settings.card_space.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.blog-posts.name"
		}
	]
}
{% endschema %}
