{%- liquid
	assign section_id           = '#shopify-section-' | append: section.id
	assign animation            = settings.section_animation
	assign heading              = section.settings.heading_text
	assign heading_size         = section.settings.heading_size
	assign sub_heading          = section.settings.sub_heading_text
	assign text                 = section.settings.text
	assign contact_heading      = section.settings.contact_heading
	assign contact_heading_size = section.settings.contact_heading_size
	assign contact_text         = section.settings.contact_text
-%}

<style>
	{{ section_id }} .section-wrapper {
		padding-top: {{ section.settings.padding_top_mobile }}px;
		padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	}
</style>

<div class="section-wrapper color-{{ section.settings.color_scheme }}">
	<div class="container" style="max-width:900px; width: 100%;">
		<div class="faqs-wrap{% if section.settings.enable_contact %} has-contact{% endif %}">
			<div class="faqs-wrap-content">
				{%- if sub_heading != blank or heading != blank or text != blank -%}
					<div class="faqs-wrap-content-title">
						{%- if sub_heading != blank -%}
							<div class="sub-heading rte">{{- sub_heading -}}</div>
						{%- endif -%}

						{%- if heading != blank -%}
							<h2 class="heading rte " style="font-size: 36px;line-height: 40px;font-weight: 500;color: #000000!important; margin-bottom: 32px;">{{- heading -}}</h2>
						{%- endif -%}

						{%- if text != blank -%}
							<div class="description rte">{{- text -}}</div>
						{%- endif -%}
					</div>
				{%- endif -%}

				{%- for block in section.blocks -%}
					{%- case block.type -%}
						{%- when '@app' -%}
							<div class="faqs-item{% if animation %} scroll-trigger{% endif %}" {{ block.shopify_attributes }}>
								{%- render block -%}
							</div>

						{%- when 'category' -%}
							{%- if block.settings.category != blank -%}
								<p class="faqs-category rte h4">{{- block.settings.category -}}</p>
							{%- endif -%}

						{%- when 'tab' -%}
							<details class="faqs-item{% if animation %} scroll-trigger{% endif %}" {{ block.shopify_attributes }}>
								<summary class="faqs-summary" aria-expanded="false">
									<p class="faqs-title">
										{%- liquid
											echo block.settings.question | default: block.settings.page.title | replace: '{product_title}', product.title
										-%}
									</p>

									<span class="accordion-caret">
										<span class="plus">
											{%- render 'icon', code: 'plus' -%}
										</span>

										<span class="minus">
											{%- render 'icon', code: 'minus' -%}
										</span>
									</span>
								</summary>

								<div class="faqs-content details-content rte" style="color: oklch(44.6% .03 256.802)!important;">
									{%- liquid
										echo block.settings.answer
										echo block.settings.page.content
									-%}
								</div>
							</details>
					{%- endcase -%}
				{%- endfor -%}
			</div>

			{%- if section.settings.enable_contact -%}
				<div class="faqs-contact color-{{ section.settings.contact_color_scheme }}">
					{%- if contact_heading != blank -%}
						<h2 class="heading rte {{ contact_heading_size }}">{{- contact_heading -}}</h2>
					{%- endif -%}

					{%- if contact_text != blank -%}
						<div class="description rte">{{- contact_text -}}</div>
					{%- endif -%}

					<div class="faqs-form">
						{%- form 'contact', id: nil, class: 'faqs-form' -%}
							{%- if form.posted_successfully? -%}
								<p class="message success-message" tabindex="-1" autofocus>
									{%- liquid
										render 'icon', code: 'success'
										echo 'templates.form.contact_success' | t
									-%}
								</p>
							{%- elsif form.errors -%}
								<p class="message error-message">
									{%- liquid
										render 'icon', code: 'error'
										echo 'templates.form.error_heading' | t
									-%}
								</p>

								<ul class="error-list" role="list">
									<li>
										<a href="#form-field-email-error{{ section_id }}" aria-label="{{- 'general.text.link' | t -}}" class="link">
											{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
										</a>
									</li>
								</ul>
							{%- endif -%}
							<div class="form-fields">
								{% comment %} Name {% endcomment %}
								<div class="field-form field field-customer-name">
									<input type="text" id="form-name-{{ section.id }}" name="contact[name]" value="{{ form.name }}" autocomplete="name" placeholder="{{ 'templates.form.name' | t }}" required>

									<label for="form-field-name-{{ section.id }}">
										{{ 'templates.form.name' | t }}
									</label>
								</div>

								{% comment %} Email {% endcomment %}
								<div class="field-form field">
									<input autocomplete="email"
										type="email"
										id="form-field-email-{{ section.id }}"
										placeholder="{{- 'templates.form.email' | t -}}"
										name="contact[email]"
										spellcheck="false"
										autocapitalize="off"
										value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
										aria-required="true"
										{% if form.errors contains 'email' %}
											aria-invalid="true"
											aria-describedby="form-field-email-error{{ section_id }}"
										{% endif %}
										pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
										required>

									<label for="form-field-email-{{ section.id }}">
										{{- 'templates.form.email' | t -}}
									</label>
								</div>

								{%- if form.errors contains 'email' -%}
									<small class="form-field-email-error" id="form-field-email-error{{ section_id }}">
										<span class="sr-only">{{- 'accessibility.error' | t -}}</span>

										<span class="message error-message">
											{%- liquid
												render 'icon', code: 'error'
												echo form.errors.translated_fields['email'] | capitalize | append: ' ' | append: form.errors.messages['email']
											 -%}
										</span>
									</small>
								{%- endif -%}

								{% comment %} Textarea {% endcomment %}
								<div class="field-form field text-area">
									<textarea id="form-field-body-{{ section.id }}" name="contact[body]" placeholder="{{- 'templates.form.message' | t -}}" required>
										{{- form.body -}}
									</textarea>

									<label for="form-field-body-{{ section.id }}">
										{{- 'templates.form.message' | t -}}
									</label>
								</div>

								{% comment %} Submit {% endcomment %}
								<div class="field-button">
									<button type="submit" class="button primary-button medium-button">
										{{- 'templates.form.send' | t -}}
									</button>
								</div>
							</div>
						{%- endform -%}
					</div>
				</div>
			{%- endif -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.faqs.name",
	"class": "faqs-section has-accordion-style",
	"tag": "section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "text",
			"id": "sub_heading_text",
			"label": "t:general.typography.sub_heading.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading_text",
			"default": "FAQs",
			"label": "t:general.typography.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:general.typography.heading_size.option_1.label"
				},
				{
					"value": "h3",
					"label": "t:general.typography.heading_size.option_2.label"
				},
				{
					"value": "h2",
					"label": "t:general.typography.heading_size.option_3.label"
				}
			],
			"default": "h3",
			"label": "t:general.typography.heading_size.label"
		},
		{
			"type": "richtext",
			"id": "text",
			"default": "<p>This is a description for faqs section.</p>",
			"label": "t:general.typography.description.label"
		},
		{
			"type": "header",
			"content": "t:sections.faqs.settings.contact.content"
		},
		{
			"type": "checkbox",
			"default": true,
			"id": "enable_contact",
			"label": "t:sections.faqs.settings.enable_contact.label"
		},
		{
			"type": "color_scheme",
			"id": "contact_color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "inline_richtext",
			"id": "contact_heading",
			"default": "Didn’t find your answer?",
			"label": "t:general.typography.heading.label"
		},
		{
			"type": "select",
			"id": "contact_heading_size",
			"options": [
				{
					"value": "h6",
					"label": "t:general.typography.heading_size.option_1.label"
				},
				{
					"value": "h5",
					"label": "t:general.typography.heading_size.option_2.label"
				},
				{
					"value": "h4",
					"label": "t:general.typography.heading_size.option_3.label"
				}
			],
			"default": "h6",
			"label": "t:general.typography.heading_size.label"
		},
		{
			"type": "richtext",
			"id": "contact_text",
			"default": "<p>Do not hesitate to contact us.</p>",
			"label": "t:general.typography.description.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "category",
			"name": "t:sections.faqs.blocks.category.name",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "category",
					"default": "Category",
					"label": "t:general.typography.text.label"
				}
			]
		},
		{
			"type": "tab",
			"name": "t:sections.faqs.blocks.tab.name",
			"settings": [
				{
					"type": "text",
					"id": "question",
					"default": "Frequently asked question",
					"label": "t:sections.faqs.blocks.tab.settings.question.label"
				},
				{
					"type": "richtext",
					"id": "answer",
					"default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>",
					"label": "t:sections.faqs.blocks.tab.settings.answer.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.faqs.name",
			"blocks": [
				{
					"type": "category"
				},
				{
					"type": "tab"
				},
				{
					"type": "tab"
				},
				{
					"type": "tab"
				},
				{
					"type": "tab"
				}
			]
		}
	]
}
{% endschema %}
