{%- liquid
	assign section_id    = '#shopify-section-' | append: section.id
	assign animation     = settings.section_animation
	assign full          = section.settings.full
	assign caption       = section.settings.caption
	assign heading       = section.settings.heading_text
	assign heading_size  = section.settings.heading_size
	assign columns       = section.settings.columns
	assign align         = section.settings.align
	assign mobile_layout = section.settings.mobile_layout
-%}

<style>
	{{ section_id }} .section-wrapper {
		padding-top: {{ section.settings.padding_top_mobile }}px;
		padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	}
</style>

<load-more>
	<div class="section-wrapper color-{{ section.settings.color_scheme }}">
		<div class="{% if full %}stretch-section stretch-padding{% else %}container{% endif %}">
			<div class="multicolumn-wrapper">
				<div class="multicolumn-title">
					{%- if caption != blank -%}
						<div class="sub-heading rte">{{- caption -}}</div>
					{%- endif -%}

					{%- if heading != blank -%}
						<h2 class="heading rte {{ heading_size }}">{{- heading -}}</h2>
					{%- endif -%}
				</div>

				<div class="multicolumn-inner grid grid-{{ columns }} grid-tablet-1 grid-mobile-1 {{ mobile_layout }}" role="list" data-column="1" data-row="{{ columns }}">
					{%- for block in section.blocks -%}
						<div class="grid-item column-item color-{{ section.settings.columns_color_scheme }} text-{{ align }} border-large{% if animation %} scroll-trigger{% endif %}" {{ block.shopify_attributes }}>
							{%- case block.type -%}
								{%- when '@app' -%}
									{%- render block -%}

								{%- when 'item' -%}
									{%- liquid
										assign map           = block.settings.image_map
										assign content_left  = block.settings.content_left
										assign content_right = block.settings.content_right
									-%}

									{%- if content_left != blank or content_right != blank -%}
										<div class="content-wrapper flex-justify-top">
											<div class="content flex-align-start">
												<div class="content-inner text-left text-left-mobile">
													<div class="map{% if map == blank %} adapt-svg-placeholder{% endif %}{% if settings.image_lazy and map %} lazy-image{% endif %}">
														{%- liquid
															if map != blank
																render 'lazy-image', image: map, width: 518, class: 'border-large'
															else
																render 'icon', code: 'placeholder'
															endif
														-%}
													</div>
													<div class="infor">
														<div class="left-content">
															{%- if content_left != blank -%}
																{{ content_left | replace: '[', '<span class="address">' | replace: ']', '</span>' }}
															{%- endif -%}
														</div>

														<div class="right-content">
															{%- if content_right != blank -%}
																{{ content_right | replace: '[', '<span class="address">' | replace: ']', '</span>' }}
															{%- endif -%}
														</div>
													</div>
												</div>
											</div>
										</div>
									{%- endif -%}
							{%- endcase -%}
						</div>
					{%- endfor -%}
				</div>
			</div>

			<button class="primary-button load-more color-{{ section.settings.columns_color_scheme }}">{{ 'sections.location_grid.settings.load_more.name' | t }}</button>
		</div>
	</div>
</load-more>

{% schema %}
{
	"name": "t:sections.location_grid.name",
	"class": "location-grid-section",
	"tag": "section",
	"disabled_on": {
		"groups": ["header"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"default": false,
			"label": "t:general.layout.full.label"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-2"
		},
		{
			"type": "text",
			"id": "caption",
			"label": "t:general.typography.caption.label"
		},
		{
			"type": "richtext",
			"id": "heading_text",
			"default": "<p>FIND THE NEAREST UNITY STORE</p>",
			"label": "t:general.typography.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h3",
					"label": "t:general.typography.heading_size.option_1.label"
				},
				{
					"value": "h2",
					"label": "t:general.typography.heading_size.option_2.label"
				},
				{
					"value": "h1",
					"label": "t:general.typography.heading_size.option_3.label"
				}
			],
			"default": "h2",
			"label": "t:general.typography.heading_size.label"
		},
		{
			"type": "header",
			"content": "t:general.slider.column.label"
		},
		{
			"type": "color_scheme",
			"id": "columns_color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "select",
			"id": "align",
			"options": [
				{
					"value": "left",
					"label": "t:general.layout.alignment.option_1.label"
				},
				{
					"value": "center",
					"label": "t:general.layout.alignment.option_2.label"
				},
				{
					"value": "right",
					"label": "t:general.layout.alignment.option_3.label"
				}
			],
			"default": "left",
			"label": "t:general.layout.alignment.label",
			"info": "t:general.layout.horizontal.mobile_left.label"
		},
		{
			"type": "range",
			"id": "columns",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "t:sections.location_grid.settings.columns.label"
		},
		{
			"type": "select",
			"id": "mobile_layout",
			"options": [
				{
					"value": "list",
					"label": "t:sections.scrolling_row.settings.mobile_layout.options__1.label"
				},
				{
					"value": "scroll",
					"label": "t:sections.scrolling_row.settings.mobile_layout.options__2.label"
				}
			],
			"default": "list",
			"label": "t:sections.scrolling_row.settings.mobile_layout.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 80,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 80,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 60,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 60,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "item",
			"name": "t:sections.multirow.settings.row.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image_map",
					"label": "t:sections.scrolling_row.blocks.image.name"
				},
				{
					"type": "richtext",
					"id": "content_left",
					"default": "<p>Content left</p>",
					"label": "t:sections.scrolling_row.blocks.content_left.name"
				},
				{
					"type": "richtext",
					"id": "content_right",
					"default": "<p>Content right</p>",
					"label": "t:sections.scrolling_row.blocks.content_left.name"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.location_grid.name",
			"blocks": [
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				}
			]
		}
	]
}
{% endschema %}
