{%- liquid
	assign section_id   = '#shopify-section-' | append: section.id
	assign animation    = settings.section_animation
	assign full         = section.settings.full
	assign image        = section.settings.image
	assign layout       = section.settings.layout
	assign sub_heading  = section.settings.sub_heading_text
	assign heading      = section.settings.heading
	assign heading_size = section.settings.heading_size
-%}

<style>
	@media (min-width: 992px) {
		{{ section_id }} .image-wrapper {
			width: {{- 100 | minus: section.settings.width -}}%;
		}

		{{ section_id }} .product-wrapper {
			width: {{- section.settings.width -}}%;
			padding-top: {{- section.settings.padding_top -}}px;
			padding-bottom: {{- section.settings.padding_bottom -}}px;
		}
	}

	@media(max-width: 991px){
		{{ section_id }} .product-wrapper {
			padding-top: {{- section.settings.padding_top_mobile -}}px;
			padding-bottom: {{- section.settings.padding_bottom_mobile -}}px;
		}
	}
</style>

<lookbook-sync>
	<div class="{% if full %}stretch-section stretch-padding{% else %}container{% endif %}">
		<div class="lookbook {{ layout }}-first color-{{ section.settings.color_scheme }}">
			<div class="image-wrapper">
				<div class="adapt-media{% if animation %} scroll-trigger{% endif %}">
					<div class="image{% if settings.image_lazy and image %} lazy-image{% endif %}">
						{%- liquid
							if image != blank
								render 'lazy-image', image: image, width: 1200
							else
								render 'icon', code: 'placeholder'
							endif
						-%}
					</div>
				</div>

				<div class="item-wrapper">
					{%- if section.blocks.size > 0 -%}
						{%- for block in section.blocks -%}
							{%- liquid
								assign product       = block.settings.product
								assign product_image = product.featured_media
								assign product_title = 'onboarding.products.title' | t

								if product != blank
									assign product_title = product.title | escape
								endif
							-%}

							<div class="item{% if forloop.index == 1 %} active{% endif %}" style="--item-color: {{ block.settings.color }};--item-x: {{ block.settings.horizontal }}%; --item-y: {{ block.settings.vertical }}%;" {{ block.shopify_attributes }} data-index="{{ forloop.index}}" data-block-id="{{ block.id }}">
								<div class="dot">
									{%- render 'icon', code: 'plus' -%}
								</div>

								<span class="product-target" data-product-id="{{ product.id }}">
									<span class="sr-only">{{- product_title -}}</span>
								</span>

								<div class="item-inner">
									<div class="item-summary">
										<a class="product-link" href="{{ product.url }}">
											<span class="sr-only">{{- product_title -}}</span>
										</a>

										<div class="product-image">
											{%- liquid
												if product_image != blank
													echo product_image | image_url: width: 400 | image_tag: loading: 'lazy'
												else
													render 'icon', code: 'placeholder'
												endif
											-%}
										</div>

										<div class="summary-inner">
											<h6 class="product-title">{{- product_title -}}</h6>

											{%- render 'price', product: product -%}
										</div>
									</div>
								</div>
							</div>
						{%- endfor -%}
					{%- endif -%}
				</div>
			</div>

			{%- if section.blocks.size > 0 -%}
				<div class="product-wrapper color-{{ section.settings.content_color_scheme }}">
					{%- if sub_heading != blank -%}
						<div class="sub-heading badge-heading text-center rte">{{- sub_heading -}}</div>
					{%- endif -%}

					{%- if heading != blank -%}
						<h2 class="heading text-center rte {{ heading_size }}{% if animation %} scroll-trigger{% endif %}">{{- heading -}}</h2>
					{%- endif -%}

					<unity-slider class="unity-slider">
						<template data-options>
							{
								"loop": false,
								"duration": 25,
								"_autoheight": true,
								"_fade": true,
								"_prevBtn": "{{ section_id }} .unity-button-prev",
								"_nextBtn": "{{ section_id }} .unity-button-next"
							}
						</template>

						<template data-thumbs-options>
							{
								"loop": false,
								"_prevBtn": "{{ section_id }} .unity-button-prev",
								"_nextBtn": "{{ section_id }} .unity-button-next"
							}
						</template>

						<div class="unity-slider-viewport" hidden>
							<div class="unity-slider-container">
								<div class="unity-slide"></div>
							</div>
						</div>

						<div class="algin-center-thumbs-slider">
							<div class="unity-thumbs-slider-viewport">
								<div class="unity-thumbs-slider-container">
									{%- for block in section.blocks -%}
										<div class="unity-thumbs-slide{% if forloop.first %} unity-thumbs-slide-selected{% endif %} product-card-wrapper{% if animation %} scroll-trigger{% endif %}" data-index="{{ forloop.index }}" data-{{ block.id }}="{{ block.shopify_attributes }}" >
											{%- liquid
												assign product = block.settings.product

												if product != blank
													render 'product-card-lookbook', product: product, index: forloop.index, show_product_id: true
												else
													render 'product-card-placeholder', index: forloop.index
												endif
											-%}
										</div>
									{%- endfor -%}
								</div>
							</div>
						</div>
					</unity-slider>

					<form method="post" action="{{ routes.cart_add_url }}" accept-charset="UTF-8" class="form-add-to-cart add-multiple-products" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form">
						{%- for block in section.blocks -%}
							{%- assign product = block.settings.product -%}

							<input type="hidden" name="items[{{ forloop.index0 }}][id]" data-index="{{ forloop.index0 }}" value="{{ product.selected_or_first_available_variant.id }}">
							<input type="hidden" name="items[{{ forloop.index0 }}][quantity]" value="1">
						{%- endfor -%}

						<span class="product-warning error-message message"></span>

						<button class="button primary-button add-to-cart-button">
							{{ 'products.product.add_all_to_cart' | t }}
						</button>
					</form>
				</div>
			{%- endif -%}
		</div>
	</div>
</lookbook-sync>

{% schema %}
{
	"name": "t:sections.lookbook.name",
	"tag": "section",
	"class": "lookbook-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"default": false,
			"label": "t:general.layout.full.label"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "select",
			"id": "layout",
			"options": [
				{
					"value": "image",
					"label": "t:sections.lookbook.settings.layout.option_1.label"
				},
				{
					"value": "product",
					"label": "t:sections.lookbook.settings.layout.option_2.label"
				}
			],
			"default": "image",
			"label": "t:sections.lookbook.settings.layout.label",
			"info": "t:sections.lookbook.settings.layout.info"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:general.image.label"
		},
		{
			"type": "range",
			"id": "width",
			"min": 30,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "%",
			"label": "t:general.dimensions.width.label"
		},
		{
			"type": "header",
			"content": "t:general.typography.content.label"
		},
		{
			"type": "text",
			"id": "sub_heading_text",
			"default": "Sub heading",
			"label": "t:general.typography.sub_heading.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading",
			"label": "t:general.typography.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:general.typography.heading_size.option_1.label"
				},
				{
					"value": "h3",
					"label": "t:general.typography.heading_size.option_2.label"
				},
				{
					"value": "h2",
					"label": "t:general.typography.heading_size.option_3.label"
				}
			],
			"default": "h3",
			"label": "t:general.typography.heading_size.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 30,
			"unit": "px",
			"label": "t:general.padding.padding_top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 30,
			"unit": "px",
			"label": "t:general.padding.padding_bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 40,
			"unit": "px",
			"label": "t:general.padding.padding_top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 40,
			"unit": "px",
			"label": "t:general.padding.padding_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "product",
			"name": "t:sections.lookbook.blocks.product.name",
			"settings": [
				{
					"type": "color",
					"id": "color",
					"default": "#FFFFFF",
					"label": "t:sections.image_spotlight.settings.hotspot.label"
				},
				{
					"type": "product",
					"id": "product",
					"label": "t:sections.lookbook.blocks.product.settings.product.label"
				},
				{
					"type": "range",
					"id": "horizontal",
					"min": 5,
					"max": 95,
					"step": 1,
					"default": 30,
					"unit": "%",
					"label": "t:sections.lookbook.blocks.product.settings.horizontal.label"
				},
				{
					"type": "range",
					"id": "vertical",
					"min": 5,
					"max": 95,
					"step": 1,
					"default": 50,
					"unit": "%",
					"label": "t:sections.lookbook.blocks.product.settings.vertical.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.lookbook.presets.name",
			"blocks": [
				{
					"type": "product",
					"settings": {
						"horizontal": 60,
						"vertical": 21
					}
				},
				{
					"type": "product",
					"settings": {
						"horizontal": 31,
						"vertical": 45
					}
				},
				{
					"type": "product",
					"settings": {
						"horizontal": 75,
						"vertical": 67
					}
				}
			]
		}
	]
}
{% endschema %}