{%- liquid
	assign section_id       = '#shopify-section-' | append: section.id
	assign full             = section.settings.full
	assign gallery_width    = section.settings.width
	assign space_between    = section.settings.space
	assign has_model        = product.media | where: 'media_type', 'model' | first
	assign layout           = section.settings.layout
	assign selected_product = product.selected_or_first_available_variant

    assign preferred_type = customer.metafields.custom.type_of_peptides.value | default: customer.metafields.custom.type_of_peptides
    assign target_tag = ""
    if preferred_type == "America-made Peptides"
      assign target_tag = "America-made-peptides"
    elsif preferred_type == "International Peptides"
      assign target_tag = "international-peptides"
    endif
    
    if customer.tags contains 'approved' and target_tag != blank
      unless product.tags contains target_tag
        echo '<script>window.location.href = "/";</script>'
      endunless
    endif

	unless routes.account_login_url == '/account/login'
    assign new_customer_account = ' new-customer-accounts'
  	endunless
-%}

{% comment %} For product 3d model {% endcomment %}
{%- if has_model -%}
	<link id="model-viewer-style" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">

	<script type="application/json" id="product-model-config">
		{{ product.media | where: 'media_type', 'model' | json }}
	</script>
{%- endif -%}

{% comment %} Lightbox popup {% endcomment %}
{%- if section.settings.lightbox -%}
	{{ 'photoswipe.css' | asset_url | stylesheet_tag }}
	<noscript><link rel="stylesheet" href="{{ 'photoswipe.css' | asset_url }}"></noscript>
	<script src="{{ 'photoswipe.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'photoswipe-skin.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'product-page.js' | asset_url }}" defer="defer"></script>

{% comment %} Style {% endcomment %}
<style>
	{{ section_id }} .section-wrapper {
		padding-top: {{ section.settings.padding_top_mobile }}px;
		padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}

		{{ section_id }} .main-product {
			gap: {{ space_between }}px;
		}

		{{ section_id }} .product-gallery {
			width: {{ gallery_width }}%;
		}

		{{ section_id }} .product-summary {
			width: calc( {{ 100 | minus: gallery_width }}% - {{ space_between }}px );
		}
	}

	{%- for block in section.blocks -%}
		{%- if block.type != '@app' -%}
			{{ section_id }} [data-{{ block.id }}] {
				padding-bottom: {{ block.settings.padding_bottom }}px;
			}
		{%- endif -%}

		{%- case block.type -%}
			{%- when 'divider' -%}
				{{ section_id }} [data-{{ block.id }}] .product-divider {
					height: {{ block.settings.height }}px;

					{%- if block.settings.color != blank -%}
						background-color: {{ block.settings.color }};
					{%- endif -%}
				}
			{%- when 'add-to-cart' -%}
				{{ section_id }} .shopify-payment-button__button--unbranded {
					{%- liquid
						if block.settings.text_transform != 'none'
							echo 'text-transform: ' | append: block.settings.text_transform
						endif
					-%}
				}
		{%- endcase -%}
	{%- endfor -%}
</style>

<div class="section-wrapper color-{{ section.settings.color_scheme }}">
	<div class="{% if full %}stretch-section stretch-padding{% else %}container{% endif %}">
		<div class="main-product{% if product.media.size == 1 %} has-single-media{% endif %}">
			{%- if product.media.size >= 1 -%}
				<div class="product-gallery" data-id="{{ layout }}">
					<a class="sr-only" href="#product-summary-{{ section.id }}" aria-label="{{- 'general.text.link' | t -}}">
						{{- 'accessibility.skip_to_product_info' | t -}}
					</a>

					<div class="product-media-box{% if product.media.size > 1 %} gallery-media{% else %} single-media{% endif %} media-fit-{{ section.settings.media_fit }} media-{{ section.settings.media_ratio }}">
						<div class="product-media-inner">
							{%- if product.media.size > 1 -%}
								{% comment %} Group image {% endcomment %}
								{%- if layout == 'layout-4' -%}
									<div class="main-sliders product-main-slide {{layout }}">
										{%- for media in product.media -%}
											<div class="main-item" data-media-id="{{ media.id }}" data-id="{{ section.id }}-{{ media.id }}" data-{{ media.media_type | escape }}>
												{%- render 'product-media', media: media, position: forloop.index, loop: section.settings.video_looping, role: 'main', index: forloop.index -%}
											</div>
										{%- endfor -%}
									</div>
								{%- else -%}
									<div class="product-main-slide xx">
										<unity-slider class="unity-slider">
											<template data-options>
												{
													"loop": false,
													"duration": 25,
													"_autoheight": true,
													"_fade": true,
													"_prevBtn": "{{ section_id }} .unity-button-prev",
													"_nextBtn": "{{ section_id }} .unity-button-next"
												}
											</template>

											<template data-thumbs-options>
												{
													"loop": false,
													"_prevBtn": "{{ section_id }} .unity-button-prev",
													"_nextBtn": "{{ section_id }} .unity-button-next"
												}
											</template>

											<div class="unity-slider-viewport main-sliders {{layout }}">
												<div class="unity-slider-container">
													{%- for media in product.media -%}
														<div class="main-item unity-slide" data-media-id="{{ media.id }}" data-id="{{ section.id }}-{{ media.id }}" data-{{ media.media_type | escape }}>
															{%- render 'product-media', media: media, position: forloop.index, loop: section.settings.video_looping, role: 'main', index: forloop.index -%}
														</div>
													{%- endfor -%}
												</div>
											</div>

											<div class="algin-center-thumbs-slider">
												<div class="unity-thumbs-slider-viewport">
													<div class="unity-thumbs-slider-container">
														{%- for media in product.media -%}
															<div class="unity-thumbs-slide{% if forloop.first %} unity-thumbs-slide-selected{% endif %}" data-media-id="{{ media.id }}" data-id="{{ section.id }}-{{ media.id }}" data-{{ media.media_type | escape }}>
																{%- render 'product-media', media: media, position: forloop.index, loop: section.settings.video_looping, role: 'thumb', index: forloop.index -%}
															</div>
														{%- endfor -%}
													</div>
												</div>
												<div class="unity-arrows">
													<button class="unity-button unity-button-prev unity-thumb-prev" title ="{{ 'general.unity.prev' | t }}-main-prd" aria-label="{{ 'general.unity.prev' | t }}-main-prd" id="{{ 'general.unity.prev' | t }}-main-prd" aria-labelledby="{{ 'general.unity.prev' | t }}-main-prd" disabled>
														{%- render 'icon', code: 'arrow-up' -%}
													</button>

													<button class="unity-button unity-button-next unity-thumb-next" title ="{{ 'general.unity.next' | t }}-main-prd" aria-label="{{ 'general.unity.next' | t }}-main-prd" id="{{ 'general.unity.next' | t }}-main-prd" aria-labelledby="{{ 'general.unity.next' | t }}-main-prd" disabled>
														{%- render 'icon', code: 'arrow-up' -%}
													</button>
												</div>
											</div>
										</unity-slider>
									</div>
								{%- endif -%}
							{%- else -%}
								<div class="main-item" data-{{ product.media[0].media_type | escape }}>
									{%- render 'product-media', media: product.media[0], position: 0, loop: false, role: 'main', index: 1 -%}
								</div>
							{%- endif -%}
						</div>

						{%- liquid
							if section.settings.lightbox
								render 'photoswipe'
							endif
						-%}
					</div>
				</div>
			{%- endif -%}

			{% comment %} Summary {% endcomment %}
			{%- render 'product-summary' -%}

			
		</div>
	</div>
</div>

{% comment %} Sticky add to cart {% endcomment %}
{%- if section.settings.sticky_add_to_cart != 'hidden' -%}
	<div class="sticky-add-to-cart color-{{ section.settings.color_scheme }}"{% if section.settings.sticky_add_to_cart != 'always' %} data-direction="{{ section.settings.sticky_add_to_cart }}"{% endif %}>
		<div class="container sticky-add-to-cart-inner">
			{%- liquid
				assign form_class     = 'product-buy'
				assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_media

				if product.selected_or_first_available_variant.available == false
					assign form_class = 'product-buy disabled'
				endif
			-%}

			<div class="product-content">
				{%- if featured_image != blank -%}
					<div class="product-image-wrapper">
						<a href="{{ product.url | split: '?' | first }}" class="product-image-link {{ settings.card_image_ratio }}-media{% if settings.image_lazy %} lazy-image{% endif %}" arial-label="{{ product.title }}">
							{%- render 'lazy-image', image: featured_image, width: 500, class: 'sticky-product-image' -%}
						</a>
					</div>
				{%- endif -%}

				<div class="product-infomation">
					<h2 class="product-title" style="font-size: 36px; font-weight: 500;"> 
						<a href="{{ product.url | split: '?' | first }}" aria-label="{{ product.title }}">{{- product.title | escape -}}</a>
					</h2>

					{%- render 'price', product: product -%}
				</div>
			</div>

			<div class="product-add-to-cart">
				{%- form 'product', product, class: form_class, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
					<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

					<div class="selector-wrapper">
						{%- unless product.has_only_default_variant -%}
							<div class="product-variants" data-url="{{ product.url }}">
								{%- for option in product.options_with_values -%}
									{%- liquid
										assign selected_value = option.selected_value
									-%}

									<div class="variant-field">
										<div class="field-wrap">
											<select class="field-value" name="[{{ option.name | escape }}]" data-noui>
												{%- for value in option.values -%}
													<option value="{{ value | escape }}" {% if selected_value == value %}selected="selected"{% endif %}>
														{{- value -}}
													</option>
												{%- endfor -%}
											</select>
										</div>
									</div>
								{%- endfor -%}
							</div>
						{%- endunless -%}

						<div class="product-quantity">
							{%- liquid
								assign qty_id = 'sticky-quantity-' | append: product.id

								render 'quantity', qty_id: qty_id
							-%}
						</div>
					</div>
					{% if customer.tags contains 'approved' %}
					<button type="submit" name="add" class="button sticky-add-to-cart-button add-to-cart-button primary-button{% unless product.has_only_default_variant %} add-product-variants{% endunless %}">
						{%- liquid
							if product.selected_or_first_available_variant.available
								echo 'products.product.add_to_cart' | t
							else
								echo 'products.product.out_of_stock' | t
							endif
						-%}
					</button>
					{% else %}
						<style>
						  .action-account {
						    display: inline-flex;
						    align-items: center;
						    text-decoration: none;
						    transition: opacity 0.2s;
						  }
						  .action-account:hover {
						    opacity: 0.8;
						  }
						  .account-icon-circle {
						    background-color: #000000;
						    color: #ffffff;
						    width: 36px;
						    height: 36px;
						    border-radius: 50%;
						    display: flex;
						    align-items: center;
						    justify-content: center;
						  }
						  .account-icon-circle svg {
						    width: 20px;
						    height: 20px;
						  }
						  .account-login-btn {
							height: auto;
							text-align: center;
						    background-color: rgb(26, 77, 46);
						    color: #ffffff;
						    padding: 16px 24px;
							border: none!important;
						    border-radius: 12px;
						    font-weight: 500;
						    font-size: 16px;
						    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
						    display: inline-block;
						  }
						</style>
						<a class="account-login-btn{{ new_customer_account }}" href="{{ routes.account_login_url }}" style="padding-top: 16px; padding-bottom: 16px;">
    					  Log in Buy
    					</a>
					{% endif %}
				{%- endform -%}
			</div>
		</div>
	</div>
{%- endif -%}

{%- if has_model -%}
	<div class="product-modal">
		<span class="media-modal-toggle">
			{%- render 'icon', code: 'close-thin' -%}
		</span>

		{%- liquid
			for media in product.media
				if media.media_type == 'model'
					render 'product-media', media: media, position: forloop.index, loop: false, role: 'main', index: forloop.index
				endif
			endfor
		-%}
	</div>
{%- endif -%}

<script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "Product",
		"name": {{ product.title | json }},
		"url": {{ shop.url | append: product.url | json }},
		{%- if selected_product.featured_media -%}
			{%- assign media_size = selected_product.featured_media.preview_image.width -%}
			"image": [
				{{ selected_product.featured_media | image_url: width: media_size | prepend: "https:" | json }}
			],
		{%- endif -%}
		"description": {{ product.description | strip_html | json }},
		{%- if selected_product.sku != blank -%}
			"sku": {{ selected_product.sku | json }},
		{%- endif -%}
		"brand": {
			"@type": "Thing",
			"name": {{ product.vendor | json }}
		},
		"offers": [
			{%- for variant in product.variants -%}
				{
					"@type" : "Offer",
					{%- if variant.sku != blank -%}
						"sku": {{ variant.sku | json }},
					{%- endif -%}
					"availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
					"price" : {{ variant.price | divided_by: 100.00 | json }},
					"priceCurrency" : {{ cart.currency.iso_code | json }},
					"url" : {{ shop.url | append: variant.url | json }}
				}{% unless forloop.last %},{% endunless %}
			{%- endfor -%}
		]
	}
</script>

{% schema %}
{
	"name": "t:sections.main-product.name",
	"tag": "section",
	"class": "main-product-section",
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "checkbox",
			"id": "full",
			"default": false,
			"label": "t:general.layout.full.label"
		},
		{
			"type": "range",
			"id": "space",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 64,
			"unit": "px",
			"label": "t:sections.main-product.settings.space.label",
			"info": "t:sections.main-product.settings.space.info"
		},
		{
			"type": "select",
			"id": "sticky_add_to_cart",
			"options": [
				{
					"value": "hidden",
					"label": "t:sections.main-product.settings.sticky_add_to_cart.option_1.label"
				},
				{
					"value": "always",
					"label": "t:sections.main-product.settings.sticky_add_to_cart.option_2.label"
				},
				{
					"value": "up",
					"label": "t:sections.main-product.settings.sticky_add_to_cart.option_3.label"
				},
				{
					"value": "down",
					"label": "t:sections.main-product.settings.sticky_add_to_cart.option_4.label"
				}
			],
			"default": "hidden",
			"label": "t:sections.main-product.settings.sticky_add_to_cart.label"
		},
		{
			"type": "header",
			"content": "t:sections.main-product.settings.header_gallery.content"
		},
		{
			"type": "range",
			"id": "width",
			"min": 30,
			"max": 70,
			"step": 1,
			"default": 64,
			"unit": "%",
			"label": "t:general.dimensions.width.label"
		},
		{
			"type": "select",
			"id": "layout",
			"options": [
				{
					"value": "layout-1",
					"label": "t:sections.main-product.settings.layout.option_1.label"
				},
				{
					"value": "layout-2",
					"label": "t:sections.main-product.settings.layout.option_2.label"
				},
				{
					"value": "layout-3",
					"label": "t:sections.main-product.settings.layout.option_3.label"
				},
				{
					"value": "layout-4",
					"label": "t:sections.main-product.settings.layout.option_4.label"
				}
			],
			"default": "layout-1",
			"label": "t:sections.main-product.settings.layout.label"
		},
				{
			"type": "select",
			"id": "media_fit",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.main-product.settings.media_fit.option_1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.main-product.settings.media_fit.option_2.label"
				}
			],
			"default": "cover",
			"label": "t:sections.main-product.settings.media_fit.label"
		},
		{
			"type": "select",
			"id": "media_ratio",
			"options": [
				{
					"value": "adapt",
					"label": "t:sections.main-product.settings.media_ratio.option_1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.main-product.settings.media_ratio.option_2.label"
				},
				{
					"value": "square",
					"label": "t:sections.main-product.settings.media_ratio.option_3.label"
				}
			],
			"default": "square",
			"label": "t:sections.main-product.settings.media_ratio.label"
		},
		{
			"type": "checkbox",
			"id": "lightbox",
			"default": true,
			"label": "t:sections.main-product.settings.lightbox.label"
		},
		{
			"type": "checkbox",
			"id": "video_looping",
			"default": false,
			"label": "t:sections.main-product.settings.video_looping.label",
			"info": "t:sections.main-product.settings.video_looping.info"
		},
		{
			"type": "header",
			"content": "t:sections.main-product.settings.header_summary.content"
		},
		{
			"type": "select",
			"id": "alignment",
			"options": [
				{
					"value": "left",
					"label": "t:general.layout.alignment.option_1.label"
				},
				{
					"value": "center",
					"label": "t:general.layout.alignment.option_2.label"
				},
				{
					"value": "right",
					"label": "t:general.layout.alignment.option_3.label"
				}
			],
			"default": "left",
			"label": "t:general.layout.alignment.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 24,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 24,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 24,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 24,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "text",
			"name": "t:sections.main-product.blocks.text.name",
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"default": "<p>Text block</p>",
					"label": "t:sections.main-product.blocks.text.settings.text.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "title",
			"name": "t:sections.main-product.blocks.title.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "font_size",
					"options": [
						{
							"value": "h6",
							"label": "t:general.typography.heading_size.option_1.label"
						},
						{
							"value": "h5",
							"label": "t:general.typography.heading_size.option_2.label"
						},
						{
							"value": "h4",
							"label": "t:general.typography.heading_size.option_3.label"
						}
					],
					"default": "h4",
					"label": "t:general.typography.font_size.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "pickup-availability",
			"name": "t:sections.main-product.blocks.pickup-availability.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.pickup-availability.settings.info.content"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "price",
			"name": "t:sections.main-product.blocks.price.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "font_size",
					"options": [
						{
							"value": "h7",
							"label": "t:general.typography.heading_size.option_1.label"
						},
						{
							"value": "h6",
							"label": "t:general.typography.heading_size.option_2.label"
						},
						{
							"value": "h5",
							"label": "t:general.typography.heading_size.option_3.label"
						}
					],
					"default": "h7",
					"label": "t:general.typography.font_size.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "variant-picker",
			"name": "t:sections.main-product.blocks.variant-picker.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "picker_type",
					"options": [
						{
							"value": "dropdown",
							"label": "t:sections.main-product.blocks.variant-picker.settings.picker_type.options__1.label"
						},
						{
							"value": "swatch",
							"label": "t:sections.main-product.blocks.variant-picker.settings.picker_type.options__2.label"
						}
					],
					"default": "swatch",
					"label": "t:sections.main-product.blocks.variant-picker.settings.picker_type.label",
					"info": "t:sections.main-product.blocks.variant-picker.settings.picker_type.info"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "add-to-cart",
			"name": "t:sections.main-product.blocks.add-to-cart.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "text_transform",
					"options": [
						{
							"value": "none",
							"label": "t:sections.main-product.blocks.add-to-cart.settings.text_transform.options__1.label"
						},
						{
							"value": "uppercase",
							"label": "t:sections.main-product.blocks.add-to-cart.settings.text_transform.options__2.label"
						},
						{
							"value": "capitalize",
							"label": "t:sections.main-product.blocks.add-to-cart.settings.text_transform.options__3.label"
						}
					],
					"default": "capitalize",
					"label": "t:sections.main-product.blocks.add-to-cart.settings.text_transform.label"
				},
				{
					"type": "checkbox",
					"id": "show_price",
					"default": true,
					"label": "t:sections.main-product.blocks.add-to-cart.settings.show_price.label"
				},
				{
					"type": "checkbox",
					"id": "quantity_selector",
					"default": true,
					"label": "t:sections.main-product.blocks.add-to-cart.settings.quantity_selector.label"
				},
				{
					"type": "checkbox",
					"id": "dynamic_checkout",
					"default": true,
					"label": "t:sections.main-product.blocks.add-to-cart.settings.dynamic_checkout.label",
					"info": "t:sections.main-product.blocks.add-to-cart.settings.dynamic_checkout.info"
				},
				{
					"type": "checkbox",
					"id": "show_gift_card",
					"default": true,
					"label": "t:sections.main-product.blocks.add-to-cart.settings.show_gift_card.label",
					"info": "t:sections.main-product.blocks.add-to-cart.settings.show_gift_card.info"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "short_description",
			"name": "t:sections.main-product.blocks.short_description.name",
			"limit": 1,
			"settings": [
				{
					"type": "inline_richtext",
					"id": "short_description",
					"label": "t:sections.main-product.blocks.share.settings.text.label",
					"default": "Provide your dog with the nutrition their body needs to keep them going strong by serving Purina ONE High Protein Dry Dog Food Chicken and Rice Formula. Packed with a wealth of healthy ingredients, this high protein dog food supports strong muscles, including a healthy heart and features real chicken as the number one ingredient."
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			  "type": "fetures",
			  "name": "Product Features",
			  "limit": 1,
			  "settings": []
		},
		{
		  	  "type": "coa-button",
		  	  "name": "COA Button",
		  	  "limit": 1,
		  	  "settings": []
		},
		{
			"type": "description",
			"name": "t:sections.main-product.blocks.description.name",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "divider",
			"name": "t:sections.main-product.blocks.divider.name",
			"settings": [
				{
					"type": "color",
					"id": "color",
					"label": "t:general.background.color.label"
				},
				{
					"type": "range",
					"id": "height",
					"min": 0,
					"max": 100,
					"step": 1,
					"unit": "px",
					"default": 1,
					"label": "t:general.dimensions.height.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "availability",
			"name": "t:sections.main-product.blocks.availability.name",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "low_stock",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 0,
					"label": "t:sections.main-product.blocks.availability.settings.low_stock.label",
					"info": "t:sections.main-product.blocks.availability.settings.low_stock.info"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "information",
			"name": "t:sections.main-product.blocks.information.name",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "vendor",
					"default": true,
					"label": "t:sections.main-product.blocks.information.settings.vendor.label"
				},
				{
					"type": "checkbox",
					"id": "collections",
					"default": true,
					"label": "t:sections.main-product.blocks.information.settings.collections.label"
				},
				{
					"type": "checkbox",
					"id": "tags",
					"default": true,
					"label": "t:sections.main-product.blocks.information.settings.tags.label"
				},
				{
					"type": "checkbox",
					"id": "type",
					"default": true,
					"label": "t:sections.main-product.blocks.information.settings.type.label"
				},
				{
					"type": "checkbox",
					"id": "sku",
					"default": true,
					"label": "t:sections.main-product.blocks.information.settings.sku.label"
				},
				{
					"type": "checkbox",
					"id": "barcode",
					"default": true,
					"label": "t:sections.main-product.blocks.information.settings.barcode.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 8,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "share",
			"name": "t:sections.main-product.blocks.share.name",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "share_label",
					"label": "t:sections.main-product.blocks.share.settings.text.label",
					"default": "Share"
				},
				{
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
				},
				{
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.share.settings.title_info.content"
				},
				{
					"type": "select",
					"id": "type",
					"options": [
						{
							"value": "os",
							"label": "t:sections.main-product.blocks.share.settings.type.options__1.label"
						},
						{
							"value": "social",
							"label": "t:sections.main-product.blocks.share.settings.type.options__2.label"
						}
					],
					"default": "social",
					"label": "t:sections.main-product.blocks.share.settings.type.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "custom-liquid",
			"name": "t:sections.main-product.blocks.custom-liquid.name",
			"settings": [
				{
					"type": "liquid",
					"id": "custom-liquid",
					"label": "t:sections.main-product.blocks.custom-liquid.settings.custom-liquid.label",
					"info": "t:sections.main-product.blocks.custom-liquid.settings.custom-liquid.info"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "collapsible-tab",
			"name": "t:sections.main-product.blocks.collapsible-tab.name",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "Collapsible tab",
					"info": "t:sections.main-product.blocks.collapsible-tab.settings.heading.info",
					"label": "t:sections.main-product.blocks.collapsible-tab.settings.heading.label"
				},
				{
					"type": "select",
					"id": "font_size",
					"options": [
						{
							"value": "h7",
							"label": "t:general.typography.heading_size.option_1.label"
						},
						{
							"value": "h6",
							"label": "t:general.typography.heading_size.option_2.label"
						},
						{
							"value": "h5",
							"label": "t:general.typography.heading_size.option_3.label"
						}
					],
					"default": "h7",
					"label": "t:general.typography.heading_size.label"
				},
				{
					"type": "richtext",
					"id": "content",
					"default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>",
					"label": "t:sections.main-product.blocks.collapsible-tab.settings.content.label"
				},
				{
					"type": "page",
					"id": "page",
					"label": "t:sections.main-product.blocks.collapsible-tab.settings.page.label"
				},
				{
					"type": "select",
					"id": "icon",
					"options": [
						{
							"value": "none",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__1.label"
						},
						{
							"value": "box",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__2.label"
						},
						{
							"value": "chat_bubble",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__3.label"
						},
						{
							"value": "check_mark",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__4.label"
						},
						{
							"value": "dryer",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__5.label"
						},
						{
							"value": "eye",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__6.label"
						},
						{
							"value": "heart",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__7.label"
						},
						{
							"value": "iron",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__8.label"
						},
						{
							"value": "leaf",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__9.label"
						},
						{
							"value": "leather",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__10.label"
						},
						{
							"value": "lock",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__11.label"
						},
						{
							"value": "map_pin",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__12.label"
						},
						{
							"value": "pants",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__13.label"
						},
						{
							"value": "plane",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__14.label"
						},
						{
							"value": "price_tag",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__15.label"
						},
						{
							"value": "question_mark",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__16.label"
						},
						{
							"value": "return",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__17.label"
						},
						{
							"value": "ruler",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__18.label"
						},
						{
							"value": "shirt",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__19.label"
						},
						{
							"value": "shoe",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__20.label"
						},
						{
							"value": "silhouette",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__21.label"
						},
						{
							"value": "star",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__22.label"
						},
						{
							"value": "truck",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__23.label"
						},
						{
							"value": "washing",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__24.label"
						},
						{
							"value": "information",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__25.label"
						},
						{
							"value": "flower",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__26.label"
						},
						{
							"value": "wayfinding ",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__27.label"
						},
						{
							"value": "warning",
							"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.options__28.label"
						}
					],
					"default": "none",
					"label": "t:sections.main-product.blocks.collapsible-tab.settings.icon.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 0,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "popup",
			"name": "t:sections.main-product.blocks.popup.name",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"default": "Pop-up link text",
					"label": "t:sections.main-product.blocks.popup.settings.link_label.label"
				},
				{
					"id": "page",
					"type": "page",
					"label": "t:sections.main-product.blocks.popup.settings.page.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "image-with-link",
			"name": "t:sections.main-product.blocks.image-with-link.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.main-product.blocks.image-with-link.settings.image.label"
				},
				{
					"id": "url",
					"type": "url",
					"label": "t:sections.main-product.blocks.image-with-link.settings.url.label"
				},
				{
					"type": "number",
					"id": "image_width",
					"default": 370,
					"label": "t:sections.main-product.blocks.image-with-link.settings.image_width.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "complementary",
			"name": "t:sections.main-product.blocks.complementary_products.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
				},
				{
					"type": "text",
					"id": "heading",
					"default": "People also viewed",
					"label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
				},
				{
					"type": "range",
					"id": "product_list_limit",
					"min": 1,
					"max": 10,
					"step": 1,
					"default": 10,
					"label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 0,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "icon-box",
			"name": "t:sections.main-product.blocks.icon_box.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "vertical_align",
					"label": "t:sections.main-product.blocks.icon_box.settings.vertiacal_align.label",
					"options": [
						{
							"value": "top",
							"label": "t:sections.main-product.blocks.icon_box.settings.vertiacal_align.option_1.label"
						},
						{
							"value": "middle",
							"label": "t:sections.main-product.blocks.icon_box.settings.vertiacal_align.option_2.label"
						},
						{
							"value": "bottom",
							"label": "t:sections.main-product.blocks.icon_box.settings.vertiacal_align.option_3.label"
						}
					],
					"default": "middle"
				},
				{
					"type": "header",
					"content": "t:sections.main-product.blocks.icon_box.settings.header_item_1.content"
				},
				{
					"type": "image_picker",
					"id": "icon_item_1",
					"label": "t:sections.main-product.blocks.icon_box.settings.icon.label"
				},
				{
					"type": "richtext",
					"id": "description_item_1",
					"label": "t:general.typography.description.label",
					"default": "<p></p>"
				},
				{
					"type": "header",
					"content": "t:sections.main-product.blocks.icon_box.settings.header_item_2.content"
				},
				{
					"type": "image_picker",
					"id": "icon_item_2",
					"label": "t:sections.main-product.blocks.icon_box.settings.icon.label"
				},
				{
					"type": "richtext",
					"id": "description_item_2",
					"label": "t:general.typography.description.label",
					"default": "<p></p>"
				},
				{
					"type": "header",
					"content": "t:sections.main-product.blocks.icon_box.settings.header_item_3.content"
				},
				{
					"type": "image_picker",
					"id": "icon_item_3",
					"label": "t:sections.main-product.blocks.icon_box.settings.icon.label"
				},
				{
					"type": "richtext",
					"id": "description_item_3",
					"label": "t:general.typography.description.label",
					"default": "<p></p>"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 24,
					"unit": "px",
					"label": "t:sections.main-product.settings.padding_bottom.label"
				}
			]
		}
	],
	"default": {
		"blocks": [
			{
				"type": "information"
			},
			{
				"type": "title"
			},
			{
				"type": "price"
			},
			{
				"type": "variant-picker"
			},
			{
				"type": "availability"
			},
			{
				"type": "add-to-cart"
			},
			{
				"type": "share"
			},
			{
				"type": "description"
			},
			{
				"type": "share"
			}
		]
	}
}
{% endschema %}