{%- liquid
	assign section_id          = '#shopify-section-' | append: section.id
	assign animation           = settings.section_animation
	assign full                = section.settings.full
	assign heading_size        = section.settings.heading_size
	assign image_height        = section.settings.image_height
	assign image_height_mobile = section.settings.image_height
	assign desktop_image_width = section.settings.desktop_image_width
	assign button_style        = section.settings.button_style
	assign desktop_alignment   = section.settings.desktop_alignment

	if section.settings.image_layout contains 'right'
		assign odd_class = ' row-reverse'
	else
		assign even_class = ' row-reverse'
	endif

	case image_height
		when 'small'
			assign image_height_value = '300px'
		when 'medium'
			assign image_height_value = '500px'
		when 'large'
			assign image_height_value = '700px'
	endcase

	case image_height_mobile
		when 'small'
			assign image_height_mobile_value = '200px'
		when 'medium'
			assign image_height_mobile_value = '250px'
		when 'large'
			assign image_height_mobile_value = '300px'
	endcase

	case desktop_image_width
		when 'small'
			assign desktop_image_width_value = '33%'
		when 'medium'
			assign desktop_image_width_value = '50%'
		when 'large'
			assign desktop_image_width_value = '67%'
	endcase
-%}

<style>
	{{ section_id }} .section-wrapper {
		padding-top: {{ section.settings.padding_top_mobile }}px;
		padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	{%- if image_height != 'adapt' -%}
		{{ section_id }} .row-item .image-item .image-height-{{ image_height_mobile }}-mobile {
			height: {{ image_height_mobile_value }};
		}
	{%- endif -%}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}

		{%- if image_height != 'adapt' -%}
			{{ section_id }} .row-item .image-item .image-height-{{ image_height }} {
				height: {{ image_height_value }};
			}
		{%- endif -%}

		{{ section_id }} .row-item .image-width-{{ desktop_image_width }} {
			width: {{ desktop_image_width_value }};
		}

		{{ section_id }} .row-item .content-wrapper {
			width: {{ 100 | minus: desktop_image_width_value }}%;
		}
	}
</style>

<div class="section-wrapper color-{{ section.settings.color_scheme }}">
	<div class="{% if full %}stretch-section stretch-padding{% else %}container{% endif %}">
		<div class="multirow-wrapper{% if animation %} scroll-trigger{% endif %}">
			{%- for block in section.blocks -%}
				<div class="row-item color-{{ section.settings.content_color_scheme }} border-large{% if section.settings.image_layout contains 'alternate' %}{% cycle odd_class, even_class %}{% else %}{{ odd_class }}{% endif %}{% if animation %} scroll-trigger{% endif %}" data-{{ block.id }} {{ block.shopify_attributes }}>
					{%- case block.type -%}
						{%- when '@app' -%}
							{%- render block -%}

						{%- when 'row' -%}
							{%- liquid
								assign image        = block.settings.image
								assign caption      = block.settings.caption
								assign heading      = block.settings.heading
								assign description  = block.settings.description
								assign button_label = block.settings.button_label
							-%}
							<div class="image-item image-width-{{ desktop_image_width }}">
								<div class="image image-height-{{ image_height }} image-height-{{ image_height_mobile }}-mobile {% if image == blank %} adapt-svg-placeholder{% endif %}{% if settings.image_lazy and image %} lazy-image{% endif %}">
									{%- liquid
										if image != blank
											render 'lazy-image', image: image, width: 664, class: 'border-large'
										else
											render 'icon', code: 'placeholder'
										endif
									-%}
								</div>
							</div>

							{%- if caption != blank or heading != blank or description != blank -%}
								<div class="content-wrapper flex-justify-{{ section.settings.desktop_content_position }}">
									<div class="content flex-align-{% if desktop_alignment == 'left' %}start{% elsif desktop_alignment == 'right' %}end{% else %}center{% endif %}">
										<div class="content-inner text-{{ section.settings.desktop_alignment }} text-{{ section.settings.mobile_alignment }}-mobile">
											{%- if caption != blank -%}
												<div class="caption rte">{{- caption -}}</div>
											{%- endif -%}

											{%- if heading != blank -%}
												<div class="heading {{ heading_size }} rte">{{- heading -}}</div>
											{%- endif -%}

											{% if description != blank %}
												<div class="description rte">{{- description -}}</div>
											{% endif %}

											{%- if button_label != blank -%}
											<div class="button-content">
												<a class="button {{ button_style }}-button" href="{{ block.settings.button_link | default: '#' }}" aria-label="{{- 'general.text.link' | t -}}">
													{{- button_label -}}
												</a>
											</div>
											{%- endif -%}
										</div>
									</div>
								</div>
							{%- endif -%}
					{%- endcase -%}
				</div>
			{%- endfor -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.multirow.name",
	"tag": "section",
	"class": "multirow-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"default": false,
			"label": "t:general.layout.full.label"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "color_scheme",
			"id": "content_color_scheme",
			"label": "t:sections.multirow.settings.content_color_scheme.label",
			"default": "scheme-1"
		},
		{
			"type": "select",
			"id": "image_height",
			"options": [
				{
					"value": "adapt",
					"label": "t:general.image.height.option_1.label"
				},
				{
					"value": "small",
					"label": "t:general.image.height.option_2.label"
				},
				{
					"value": "medium",
					"label": "t:general.image.height.option_3.label"
				},
				{
					"value": "large",
					"label": "t:general.image.height.option_4.label"
				}
			],
			"default": "medium",
			"label": "t:general.image.height.label"
		},
		{
			"type": "select",
			"id": "desktop_image_width",
			"options": [
				{
					"value": "small",
					"label": "t:general.image.desktop_image_width.option_1.label"
				},
					{
					"value": "medium",
					"label": "t:general.image.desktop_image_width.option_2.label"
				},
				{
					"value": "large",
					"label": "t:general.image.desktop_image_width.option_3.label"
				}
			],
			"default": "medium",
			"label": "t:general.image.desktop_image_width.label",
			"info": "t:general.image.desktop_image_width.info"
		},
		{
			"type": "select",
			"id": "image_layout",
			"options": [
				{
					"value": "alternate-left",
					"label": "t:sections.multirow.settings.image_layout.options__1.label"
				},
				{
					"value": "alternate-right",
					"label": "t:sections.multirow.settings.image_layout.options__2.label"
				},
				{
					"value": "align-left",
					"label": "t:sections.multirow.settings.image_layout.options__3.label"
				},
				{
					"value": "align-right",
					"label": "t:sections.multirow.settings.image_layout.options__4.label"
				}
			],
			"default": "alternate-left",
			"label": "t:sections.multirow.settings.image_layout.label",
			"info": "t:sections.multirow.settings.image_layout.info"
		},
		{
			"type": "select",
			"id": "desktop_content_position",
			"options": [
				{
					"value": "start",
					"label": "t:general.layout.desktop_content_position.option_1.label"
				},
				{
					"value": "center",
					"label": "t:general.layout.desktop_content_position.option_2.label"
				},
				{
					"value": "end",
					"label": "t:general.layout.desktop_content_position.option_3.label"
				}
			],
			"default": "center",
			"label": "t:general.layout.desktop_content_position.label",
			"info": "t:general.layout.desktop_content_position.info"
		},
		{
			"type": "select",
			"id": "desktop_alignment",
			"options": [
				{
					"value": "left",
					"label": "t:general.layout.desktop_alignment.option_1.label"
				},
				{
					"value": "center",
					"label": "t:general.layout.desktop_alignment.option_2.label"
				},
				{
					"value": "right",
					"label": "t:general.layout.desktop_alignment.option_3.label"
				}
			],
			"default": "left",
			"label": "t:general.layout.desktop_alignment.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h6",
					"label": "t:general.typography.heading_size.option_1.label"
				},
				{
					"value": "h5",
					"label": "t:general.typography.heading_size.option_2.label"
				},
				{
					"value": "h4",
					"label": "t:general.typography.heading_size.option_3.label"
				},
				{
					"value": "h3",
					"label": "t:general.typography.heading_size.option_4.label"
				},
				{
					"value": "h2",
					"label": "t:general.typography.heading_size.option_5.label"
				}
			],
			"default": "h5",
			"label": "t:general.typography.heading_size.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:general.typography.style.option_1.label"
				},
				{
					"value": "secondary",
					"label": "t:general.typography.style.option_2.label"
				}
			],
			"default": "primary",
			"label": "t:general.typography.style.label"
		},
		{
			"type": "header",
			"content": "t:general.layout.mobile_layout.content"
		},
		{
			"type": "select",
			"id": "mobile_alignment",
			"options": [
				{
					"value": "left",
					"label": "t:general.layout.mobile_alignment.option_1.label"
				},
				{
					"value": "center",
					"label": "t:general.layout.mobile_alignment.option_2.label"
				},
				{
					"value": "right",
					"label": "t:general.layout.mobile_alignment.option_3.label"
				}
			],
			"default": "left",
			"label": "t:general.layout.mobile_alignment.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
		"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "row",
			"name": "t:sections.multirow.settings.row.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:general.image.label"
				},
				{
					"type": "text",
					"id": "caption",
					"label": "t:general.typography.caption.label"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "Row",
					"label": "t:general.typography.heading.label"
				},
				{
					"type": "richtext",
					"id": "description",
					"default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
					"label": "t:general.typography.description.label"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Button label",
					"label": "t:general.typography.button_label.label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "t:general.typography.button_link.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.multirow.name",
			"blocks": [
				{
					"type": "row"
				},
				{
					"type": "row"
				},
				{
					"type": "row"
				}
			]
		}
	]
}
{% endschema %}
